<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-user fa-4x"></i> Editar Usuario</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Usuario a Cliente</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">
         <div class="panel rounded shadow">
            <div class="panel-body">
                <!-- Register form -->
                <form class="form-horizontal rounded shadow no-overflow" action="{base_url('account/edit_user')}/{$val['user_id']}" style="width:500px; margin: 0 auto;" method="post">
                    <div class="sign-body">
                        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="text" class="form-control" placeholder="Username" name="username" value="{$val['username']}">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                            {if isset($error_val)}{$user}{/if}
                        </div>
                        <div class="form-group {if isset($error_val)&& $Val_email == null} has-error has-feedback{/if}">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="email" class="form-control" placeholder="Your Email" name="email" value="{$val['email']}">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                            {if isset($error_val)}{$email}{/if}
                        </div>
                        <div class="form-group {if isset($error_val) && $Val_rol == null}has-error has-feedback{/if}">
                        <div class="input-group input-group-lg rounded no-overflow " name="username">
                            <select type="email" class="form-control" name="auth_level">
                            {if $val["auth_level"] == 1}
                            <option value=1 '{if $val["auth_level"] eq 1} selected="true" {/if}'>Cliente</option>
                            {else}
                            <option value=3 '{if $val["auth_level"] eq 3} selected="true" {/if}'>Bodega</option>
                            <option value=6 '{if $val["auth_level"] eq 6} selected="true" {/if}'>Oficina</option>
                            <option value=9 '{if $val["auth_level"] eq 9} selected="true" {/if}'>Administrador</option>
                            <option value=5 '{if $val["auth_level"] eq 5} selected="true" {/if}'>Supervisor</option>
                            {/if}
                            </select>
                            <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        </div>
                        {if isset($auth_level)}{$auth_level}{/if}
                    </div>
                        <div class="form-group">
                            <button id="bpwd" type="button" class="btn btn-theme btn-lg btn-block no-margin rounded" onclick="$('#pwd').removeAttr('style');$('#bpwd').attr('style','display:none;')">Cambiar Contraseña</button>
                        </div>
                        <div id="pwd" style="display:none;">
                            <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}" style="">
                                <div class="input-group input-group-lg rounded no-overflow">
                                    <input type="password" class="form-control" placeholder="Password" name="passwd">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                </div>
                                {if isset($error_val)}{$passwd}{/if}
                            </div>
                            <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
                                <div class="input-group input-group-lg rounded no-overflow">
                                    <input type="password" class="form-control " placeholder="Confirm Password" name="passwd2">
                                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                </div>
                                {if isset($error_val)}{$passwd2}{/if}
                            </div>
                        </div>
                    </div>
                    <div class="sign-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded">Aceptar</button>
                        </div>
                    </div>
                </form>
                <!--/ Register form -->
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
         <script>
        $("#logout").fadeTo(1000, 500).slideUp(500, function(){
            $("#logout").alert('close');
        });
        </script>
    </div>
</div><!-- /.row -->