<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-user fa-4x"></i> Crear Usuario</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Usuario a Cliente</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">
         <div class="panel rounded shadow">
            <div class="panel-body">
                <!-- Register form -->
                <form class="form-horizontal rounded shadow no-overflow" action="{base_url('account/sign_up')}" style="width:500px; margin: 0 auto;" method="post">
                    <div class="sign-body">
                        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="text" class="form-control" placeholder="Username" name="username" value="{$Val_user}">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                            {if isset($error_val)}{$user}{/if}
                        </div>
                        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control" placeholder="Password" name="passwd">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                            {if isset($error_val)}{$passwd}{/if}
                        </div>
                        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control " placeholder="Confirm Password" name="passwd2">
                                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                            </div>
                            {if isset($error_val)}{$passwd2}{/if}
                        </div>
                        <div class="form-group {if isset($error_val)&& $Val_email == null} has-error has-feedback{/if}">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="email" class="form-control" placeholder="Your Email" name="email" value="{$Val_email}">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                            {if isset($error_val)}{$email}{/if}
                        </div>
                        <div class="form-group {if isset($error_val) && $Val_rol == null}has-error has-feedback{/if}">
                        <div class="input-group input-group-lg rounded no-overflow " name="username">
                            <select type="email" class="form-control" name="auth_level">
                            <option value=''>Rol de Usuario</option>
                            <option value=3>Bodega</option>
                            <option value=5>Supervisor</option>
                            <option value=6>Oficina</option>
                            <option value=9>Administrador</option>
                            </select>
                            <span class="input-group-addon"><i class="fa fa-users"></i></span>
                        </div>
                        {if isset($auth_level)}{$auth_level}{/if}
                    </div>
                    </div>
                    <div class="sign-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded">Sign Up</button>
                        </div>
                    </div>
                </form>
                <!--/ Register form -->
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
         <script>
        $("#logout").fadeTo(1000, 500).slideUp(500, function(){
            $("#logout").alert('close');
        });
        </script>
    </div>
</div><!-- /.row -->