<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-users fa-4x"></i> USUARIOS</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Usuarios</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-6">
        <!-- Start datatable using ajax -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Usuarios Empleados</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Start datatable -->
                     <table id="datatable-dom" class="table table-striped table-theme">
                        <thead>
                        <tr>
                            <th data-class="expand" style="max-width: 20px">ID</th>     
                            <th data-hide="phone">Usuario</th>
                            <th data-hide="phone">Email</th>
                            <th data-hide="phone,tablet">Rol</th>
                            <th data-hide="phone,tablet" style="min-width: 310px" class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {foreach key=key item=con from=$list_users}
                            <tr id="{$con.user_id}">
                                <td class="text-center" style="width: 1%">{$con.user_id}</td>
                                <td>{$con.username}</td>
                                <td>{$con.email}</td>
                                <td>{if $con.auth_level eq 1}
                                		Cliente
	                                {elseif $con.auth_level eq 3}
	                                	Bodega
                                    {elseif $con.auth_level eq 5}
                                        Supervisor
	                                {elseif $con.auth_level eq 6}
	                                	Oficina
	                                {elseif $con.auth_level eq 9}
	                                	Administrador
	                                {/if}
                                </td>
                                <td class="text-center">
                                     <a href="{base_url('account/load_editUser')}/{$con.user_id}" class="btn btn-sm btn-primary btn-xs btn-push"><i class="fa fa-pencil"></i> Editar</a>
                                    <a href="{base_url('account/delete_account')}/{$con.user_id}" class="btn btn-sm btn-danger btn-xs btn-push"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End datatable using ajax -->
        </div>
        <div class="col-md-6">
        <!-- Start datatable using ajax -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Usuarios Clientes</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Start datatable -->
                     <table id="datatable-dom" class="table table-striped table-theme">
                        <thead>
                        <tr>
                            <th data-class="expand" style="max-width: 20px">ID</th>     
                            <th data-hide="phone">Usuario</th>
                            <th data-hide="phone">Email</th>
                            <th data-hide="phone,tablet">Rol</th>
                            <th data-hide="phone,tablet">Ver Detalle Entrada</th>
                            <th data-hide="phone,tablet" class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {foreach key=key item=con from=$list_usersClient}
                            <tr id="{$con.user_id}">
                                <td class="text-center" style="width: 1%">{$con.user_id}</td>
                                <td>{$con.username}</td>
                                <td>{$con.email}</td>
                                <td>{if $con.auth_level eq 1}
                                        Cliente
                                    {/if}
                                </td>
                                <td>
                                <form action="users_table_submit" method="get" accept-charset="utf-8" class="form-horizontal">
                                    <input type="checkbox" id="{$con.user_id}" class="switch" name="switch" {if $con.permisoDetalle eq 1} checked {/if} data-on-text="ON" data-off-text="OFF" data-on-color="success">
                                </form>
                                </td>
                                <td class="text-center">
                                     <a href="{base_url('account/load_editUser')}/{$con.user_id}" class="btn btn-sm btn-primary btn-xs btn-push"><i class="fa fa-pencil"></i> Editar</a>
                                    <a href="{base_url('account/delete_account')}/{$con.user_id}" class="btn btn-sm btn-danger btn-xs btn-push"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
