<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-building fa-4x"></i> BODEGAS</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Buscar Bodega</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-6">
        <!-- Start datatable using ajax -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Bodegas</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Start datatable -->
                     <table id="warehouse" class="table table-striped table-theme">
                        <thead>
                        <tr>
                            <th data-hide="phone" class="text-center" style="max-width: 20px">Codigo</th>      
                            <th data-class="expand">Nombre</th>
                            <th data-hide="phone">Dirección</th>
                            <th data-hide="phone" class="text-center">Acción</th>
                            <th style="display:none;"></th>
                            <th style="display:none;"></th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                         {foreach key=key item=con from=$list_whse}
                            <tr>
                                <td class="text-center" style="width: 1%">{$con.whse_code}</td>
                                <td>{$con.whse_name}</td>
                                <td>{$con.address}</td>
                                <td class="text-center">
                                    <a href="{base_url('warehouse/load_edit')}/{$con.whse_code}" class="btn btn-sm btn-primary btn-xs btn-push"><i class="fa fa-pencil"></i> Editar</a>
                                    <a href="{base_url('warehouse/delete_whse')}/{$con.whse_code}" class="btn btn-sm btn-danger btn-xs btn-push"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
                <a class="btn btn-sm btn-success btn-xs btn-push float-right" data-toggle="modal" data-target=".location"></i> Agregar Location</a>
            <!--/ End datatable using ajax -->
        </div>
        <div class="col-md-6">
        <!-- Start datatable using ajax -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Locaciones</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Start datatable -->
                     <table id="location" class="table table-striped table-theme">
                        <thead>
                        <tr>
                           <th data-class="expand" style="max-width: 20px">Codigo</th>       
                            <th data-class="phone" class="text-center">locación</th>
                            <th data-hide="phone" class="text-center">status</th>
                            <th data-hide="phone" class="text-center">Lote</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {foreach key=key item=con2 from=$list_location}
                            <tr>
                                <td class="text-center">{$con2.id_location}</td>
                                <td class="text-center">{$con2.location}</td>
                                <td class="text-center">    
                                    {if $con2.status == 1}
                                        Ocupado
                                    {else}Vacio{/if}
                                </td>
                                <td class="text-center">{foreach key=key item=con3 from=$list_lote_loc}
                                                    {if $con2.id_location == $con3.id_location}
                                                    {$con3.lot}
                                                    {/if}
                                     {/foreach}
                                </td>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
      <div class="row">
        
    </div>
</div>
<!-- Start inside form layout -->
            <div class="modal fade location" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-photo-viewer">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Locations</h4>
                        </div>
                        <div class="modal-body no-padding">
                            <form class="form-horizontal form-bordered" role="form" method="post" action="{base_url('warehouse/insert_location')}">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="firstname-1" class="col-sm-4 control-label">Prefijo</label>
                                        <div class="col-sm-1">
                                            <input type="text" class="form-control input-sm" id="firstname-1" name="prefijo" style="text-transform:uppercase;">
                                        </div>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="password-1" class="col-sm-4 control-label">Rango</label>
                                        <div class="col-sm-1">
                                            <input type="number" name="rango_ini" class="form-control input-sm" id="password-1">
                                        </div>
                                        <label for="password-1" class="col-sm-1 control-label" style="padding-right:40px;">-</label>
                                        <div class="col-sm-1">
                                            <input type="number" name="rango_fin" class="form-control input-sm" id="password-1">
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                                <div class="form-footer">
                                    <div class="col-sm-offset-4">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success">Aceptar</button>
                                    </div>
                                </div><!-- /.form-footer -->
                            </form>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!--/ End inside form layout -->
