<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-users fa-4x"></i> CLIENTES</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Buscar Cliente</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
        <!-- Start datatable using ajax -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Lista de Clientes</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Start datatable -->
                     <table id="datatable-dom" class="table table-striped table-theme">
                        <thead>
                        <tr>
                            <th data-class="expand" style="min-width: 20px">Codigo</th>      
                            <th data-hide="phone">Nombre</th>
                            <th data-hide="phone,tablet">Dirección</th>
                            <th data-hide="phone,tablet">Telefono</th>
                            <th data-hide="phone,tablet">Email</th>
                            <th data-hide="phone,tablet">Ship to</th>
                            <th data-hide="phone,tablet, desktop"  class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {foreach key=key item=con from=$list_customers}
                            <tr id="{$con.customer_code}">
                                <td class="text-center" style="width: 1%">{$con.customer_code}</td>
                                <td>{$con.first_name}</td>
                                <td>{$con.address}</td>
                                <td>{$con.phone}</td>
                                <td class="text-center">{$con.email}</span></td>
                                <td>
                                {foreach key=key item=sh from=$list_Ship}
                                    {if $con.customer_code eq $sh.customer_code}
                                    <a href="{base_url('customer/loadedit_ship')}/{$sh.ship_code}"><b>{$sh.ship_state}</b>, {$sh.ship_address}{$sh.customer_code}</a>
                                    </br>
                                    {/if}
                                {/foreach} 
                                </td>
                                <td class="text-center">
                                     <a href="{base_url('customer/load_edit')}/{$con.customer_code}" class="btn btn-sm btn-primary btn-xs btn-push mt-10"><i class="fa fa-pencil"></i> Editar</a>
                                    <a href="{base_url('customer/customerUser')}/{$con.customer_code}" class="btn btn-sm btn-success btn-xs btn-push mt-10"><i class="fa fa-eye"></i> Usuario</a>
                                    <a href="{base_url('customer/load_ship')}/{$con.customer_code}" class="btn btn-sm btn-warning btn-xs btn-push mt-10"><i class="fa fa-pencil"></i> Crear Ship</a>
                                    <a id="{$con.customer_code}" data-customer="{$con.first_name}" class="btn btn-sm btn-danger btn-xs btn-push delCust mt-10"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
