<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-users fa-4x"></i> Crear Usuario</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Usuario a Cliente</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

        <!-- Start basic validation -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class=" text-center">
                    <h3 class="panel-title">{$customer_data['first_name']}</h3>
                </div><!-- /.pull-left -->
            </div>
            <div class="panel-body">

               <form class="form-horizontal rounded shadow no-overflow" action="{base_url('/customer/sign-up')}/{$customer_data['customer_code']}" method="post" style="width:500px; margin: 0 auto;">
			    <div class="sign-body">
			        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
			            <div class="input-group input-group-lg rounded no-overflow">
			                <input type="text" class="form-control" placeholder="Username" name="username" value="{$Val_user}">
			                <span class="input-group-addon"><i class="fa fa-user"></i></span>
			            </div>
			            {if isset($error_val)}{$user}{/if}
			        </div>
			        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
			            <div class="input-group input-group-lg rounded no-overflow">
			                <input type="password" class="form-control" placeholder="Password" name="passwd">
			                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			            </div>
			             {if isset($error_val)}{$passwd}{/if}
			        </div>
			        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
			            <div class="input-group input-group-lg rounded no-overflow">
			                <input type="password" class="form-control" placeholder="Confirm Password" name="passwd2">
			                <span class="input-group-addon"><i class="fa fa-check"></i></span>
			            </div>
			            {if isset($error_val)}{$passwd2}{/if}
			        </div>
			        <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
			            <div class="input-group input-group-lg rounded no-overflow">
			                <input type="email" class="form-control" placeholder="Your Email" name="email" value="{if isset($Val_email)}{$Val_email}{else}{$customer_data[0]['email']}{/if}">
			                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			            </div>
			            {if isset($error_val)}{$email}{/if}
			        </div>
			         <div class="form-group {if isset($error_val) && $Val_user == null}has-error has-feedback{/if}">
			            <div class="input-group input-group-lg rounded no-overflow">
			                <input type="hidden" class="form-control" name="auth_level" value=1>
			                
			            </div>
			        </div>
			    </div>
			    <div class="sign-footer">
			        <div class="form-group">
			            <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded">Sign Up</button>
			        </div>
			    </div>
				</form>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->