<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-calendar fa-4x"></i> EDITAR CITA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Editar Cita</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

        <!-- Start basic validation -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Editar Cita</h3>
                </div><!-- /.pull-left -->
                <div class="pull-right">
                    <button class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /.pull-right -->
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="form-horizontal form-bordered" role="form" id="appoint" action="{base_url('appointment/edit')}/{$id}" method="post">
                    <div class="form-body">
                        <div class="form-group">
                                <label class="col-sm-3 control-label">Fecha <span class="asterisk">*</span></label>
                            <div class="col-sm-7">                         
                                 <input type="text" class="form-control input-sm" name="date" id="date" value="{$date}">
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Po No<span class="asterisk">*</span></label>
                           	<div class="col-sm-7">
                                <input type="text" class="form-control input-sm" name="po" value="{$po_no}">
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cliente<span class="asterisk">*</span></label>
                           <div class="col-sm-7">
                                <select data-placeholder="selecciona al cliente" class="form-control mb-15" name="customer" tabindex="2">
                                    <option value="">Selecciona Cliente</option>
                                    {foreach key=key item=con from=$custom}
                                        <option value="{$con.customer_code}"'{if $con.customer_code eq $customer} selected {/if}'>{$con.first_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Proveedor<span class="asterisk">*</span></label>
                            <div class="col-sm-7">
                                <select data-placeholder="Selecciona al Proveedor" class="form-control mb-15" id="vendor" name="vendor" tabindex="2">
                                    <option value="">Selecciona Proveedor</option>
                                    {foreach key=key item=con from=$vendor}
                                        <option value="{$con.vendor_code}"'{if $con.vendor_code eq $vend} selected {/if}'>{$con.name}</option>
                                    {/foreach}                                   
                                </select>
                            </div>
                        </div><!-- /.form-group -->
                       <!--  <div class="form-group">
                            <label class="col-sm-3 control-label">Enviar Correo</label>
                            <div class="col-sm-7 ckbox ckbox-theme">
                               <input id="sendMail" type="checkbox" name="sendMail" value="1" '{if $vendor_email eq null} disabled {/if}'>
                               <label for="sendMail" class=" control-label"></label>
                            </div>
                        </div>-->
                    <div class="form-group">
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                    {if $status == "agendada" || $status == "reagendada"}
                    	<div class="col-sm-3">
                            <a href="{base_url('receipts/load_addReceipts')}/{$id}" class="btn btn-sm btn-info btn-xs" style="height:32px;width: 100px;padding-top: 6px;padding-bottom: 6px;padding-left: 12px;padding-right: 12px;">Crear Entrada</a>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-warning">Reagendar</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-danger" formaction="{base_url('appointment/cancel_appointment')}/{$id}">Cancelar Cita</button>
                        </div>
                        {elseif $status == "cancelada" || $status == "cerrada"}
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-danger" formaction="{base_url('appointment/delete_appointment')}/{$id}">Borrar cita</button>
                        </div>
                     {/if}
                    </div><!-- /.form-footer -->
                </form>

            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->