<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-usd fa-4x"></i> REPORTE IINVENTARIO</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Reportes</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Inventario</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
        <div>
        {if $employees eq employees}
        	<form id="receiptReport" action="{base_url('reports/searchinvent')}" method="get">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">Fecha Inicial</label>                            
                             <input type="text" class="form-control input-sm" name="dateIn" placeholder="mm/dd/yyyy" id="date" value="{$datIn}">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-2">
                        <label class="control-label">A la fecha:</label>                            
                             <input type="text" class="form-control input-sm" name="dateFin" placeholder="mm/dd/yyyy" id="date2" value="{$datFin}">
                    </div><!-- /.form-group -->
                </div> 
        		<div class="row">
                    <div class="form-group col-sm-3">
                        <label class="control-label">Cliente</label>                            
                        <select data-placeholder="Choose a Country" class="form-control chosen-select mb-15" id="customer" name="customer" tabindex="2">
                            <option value="">Selecciona Cliente</option>
                            {foreach key=key item=con from=$custom}
                                <option value="{$con.customer_code}" {if $customer eq $con.customer_code} selected {/if}>{$con.first_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Producto</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="item" name="item" tabindex="2">
                            <option value="">Selecciona Producto</option>
                            {foreach key=key item=con from=$items}
                            <option value="{$con.items_code}" {if $item eq $con.items_code} selected {/if}>{$con.item_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Bodega</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="whse" name="whse" tabindex="2">
                            <option value="">Selecciona Bodega</option>
                            {foreach key=key item=con from=$whse}
                            <option value="{$con.whse_code}" {if $whse_sel eq $con.whse_code} selected {/if}>{$con.whse_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                     <div class="form-group col-sm-3">
                        <input type="submit" class="btn btn-theme" id="generar" value="Generar Reporte" style="margin-top:29px">
                        <a {if !empty($invList)}href="{base_url('reports/reporinvent/')}?dateIn={$datIn}&dateFin={$datFin}&customer={$customer}&item={$item}&whse={$whse_sel}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin-top:29px" target="_blank">Exportar PDF</a>
                        <input type="button" id="ToExcel" class="btn btn-theme pull-right" value="Exportar Excel" style="margin-top:29px; margin-right: 10px"/>
                    </div>
                </div> 
            </form>
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcel">
                <input type="hidden" id="tablaExcel" name="table" />
                <input type="hidden" name="filename" value="Reporte_Salidas" />
            </form>
        </div>
        {/if}
            {if $employees eq customer}
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcel">
                <input type="hidden" id="tablaExcel" name="table" />
                <input type="hidden" name="filename" value="Reporte_Inventario" />
            </form>
            <a {if !empty($invList)} href="{base_url('report- {s/reporinvent/')}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin:15px 20px;"  target="_blank">Exportar PDF</a>

            <input type="button" id="ToExcel" class="btn btn-theme pull-right" value="Exportar Excel" style="margin:15px 20px;"/>
            {/if}
        </div>
        <!-- Start datatable using ajax -->
                <div>
                    <!-- Start datatable -->
                     <table id="datatableInvent" class="table table-striped table-theme">
                        <thead>
                        <tr>
                            <th data-hide="phone" class="text-center">reny Ctrl</th> 
                            <th data-hide="phone" class="text-center">Fecha de Entrada</th> 
                            <th data-class="expand" class="text-center">Cliente</th>
                            <th data-hide="phone" class="text-center">Proveedor</th>
                            <th data-hide="phone" class="text-center">Producto</th>
                            <th data-hide="phone" class="text-center">Lote</th> 
                            <th data-hide="phone" class="text-center">Fecha Produccion</th>
                            <th data-hide="phone" class="text-center">Fecha Expiración</th>   
                            <th data-hide="phone" class="text-center">Pallets</th>                           
                            <th data-hide="phone" class="text-center">Bags</th>
                            {if $employees neq customer} 
                            <th data-hide="phone" class="text-center">Location</th>
                            {/if}
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {$i=0}
                        {foreach key=key item=con from=$invList}
                            <tr class="text-center">
                                <td>{$con.reny_ctrl}</td>   
                                <td>{$dateS[$i]}</td>
                                <td>{$con.first_name}</td>
                                <td>{$con.name}</td>
                                <td>{$con.item_name}</td>
                                <td>{$con.lot}</td>
                                <td>{$prod_date[$i]}</td>
                                <td>{$exp_date[$i]}</td>
                                <td>{$con.pallets}</td>
                                <td>{$con.stock}</td>
                                {if $employees neq customer} 
                                <td>{$con.location}</td>
                                {/if}
                            </tr>
                            {$i=$i+1}
                        {/foreach}
                        	<tr class="text-center">
                                <td style="background-color:transparent;"></td>
                                <td style="background-color:transparent;"></td>
                                <td style="background-color:transparent;"></td>
                                <td style="background-color:transparent;"></td>
                                <td style="background-color:transparent;"></td>   
                                <td style="background-color:transparent;"></td>  
                                <td style="background-color:transparent;"></td>
                                <td>Totales:</td>
                                <td>
                                    {$resB = 0}
                                    {foreach key=key item=sumBag from=$invList}
                                    {$resB = $resB + $sumBag.pallets}
                                    {/foreach}
                                    {$resB}
                                </td>
                                <td>
                                	{$res = 0}
                                	{foreach key=key item=sumPal from=$invList}
                                	{$res = $res + $sumPal.stock}
                                	{/foreach}
                                	{$res}
                                </td>
                                <td style="background-color:transparent;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
