<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-calendar fa-4x"></i> AGENDAR CITA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Catalogos</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Agendar Cita</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

        <!-- Start basic validation -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Agendar Cita</h3>
                </div><!-- /.pull-left -->
                <div class="pull-right">
                    <button class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /.pull-right -->
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="form-horizontal form-bordered" role="form" id="appoint" action="{base_url('appointment/create')}" method="post">
                    <div class="form-body">
                        <div class="form-group">
                                <label class="col-sm-3 control-label">Fecha <span class="asterisk">*</span></label>
                            <div class="col-sm-7">                         
                                 <input type="text" class="form-control input-sm" name="date" id="date" value="{$date}">
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Po No<span class="asterisk">*</span></label>
                           	<div class="col-sm-7">
                                <input type="text" class="form-control input-sm" name="po" >
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cliente<span class="asterisk">*</span></label>
                           <div class="col-sm-7">
                                <select data-placeholder="Selecciona al Cliente" class="form-control mb-15" name="customer" tabindex="2">
                                    <option value="">Selecciona Cliente</option>
                                    {foreach key=key item=con from=$custom}
                                        <option value="{$con.customer_code}">{$con.first_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Proveedor<span class="asterisk">*</span></label>
                            <div class="col-sm-7">
                                <select data-placeholder="Selcciona al proveedor" id="vendor" class="form-control mb-15" name="vendor" tabindex="2">
                                    <option value="">Selecciona Proveedor</option>
                                    {foreach key=key item=con from=$vendor}
                                        <option value="{$con.vendor_code}">{$con.name}</option>
                                    {/foreach}                                   
                                </select>
                            </div>
                        </div><!-- /.form-group -->
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">Enviar Correo</label>
                            <div class="col-sm-7 ckbox ckbox-theme">
                               <input id="sendMail" type="checkbox" name="sendMail" value="1">
                               <label for="sendMail" class=" control-label"></label>
                            </div>
                        </div> -->
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button type="submit" class="btn btn-theme">Guardar</button>
                        </div>
                    </div><!-- /.form-footer -->
                </form>

            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->