<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-left fa-4x"></i>SALIDA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Salidas</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Editar Salida</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">
                        <div id="success" class="alert alert-success animated fadeIn" style="display:none;">
                           
                        </div>
                        <div id="error" class="alert alert-danger animated fadeIn" style="display:none;">
                            <span class="alert-icon"><i class="fa fa-times"></i></span>
                            <strong>Error al enviar!</strong> verifique la dirección de correo electronico </a>.
                        </div>

        <!-- Start basic validation -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Editar Salida</h3>
                </div><!-- /.pull-left -->
                <div class="pull-right">
                    <button class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /.pull-right -->
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
            
                <form class="form-horizontal" role="form" id="shipments" action="{base_url('shipments/upShipment')}/{$no}" method="post">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                    <label class="control-label">Salida No.<span class="asterisk">*</span></label>
                                    <input type="text" class="form-control input-sm date_rec" name="receipt_reny" value="{$noShipm}" readonly="true">
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right" style="font-size:22px;">
                            {if $status == "Nuevo"}
                                <span class="label label-success">{$status}</span>
                            {elseif $status == "Listo" || $status == "Listo Modificado"}
                                <span class="label label-warning">{$status}</span>
                            {elseif $status == "Terminado"}
                                <span class="label label-primary">{$status}</span>
                            {/if}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Fecha<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" name="date" id="date" value="{$date}">
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$dateSyst}</span></div> 
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class=" control-label">Bodega<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="form-control mb-15" name="whse" tabindex="2">
                                    {foreach key=key item=con from=$whseOption}
                                        <option value="{$con.whse_code}"'{if $con.whse_code eq $whse} selected {/if}'>{$con.whse_name}</option>
                                    {/foreach} 
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Cliente<span class="asterisk">*</span></label>
                                <select class="form-control mb-15" name="customer" tabindex="2" id="custShip">
                                        <option value="{$cust_code}">{$first_name}</option>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-6">
                                <label class="control-label">Carrier<span class="asterisk">*</span></label>
                               <input type="text" class="form-control input-sm" name="carrier" id="" value="{$carrier}">
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Producto<span class="asterisk">*</span></label>
                                <select class="form-control mb-15" name="item" tabindex="2" id="itemShip"> 
                                <option value="{$item_code}"selected>{$item_name}</option>
                                </select>
                            </div><!-- /.form-group -->
                             <div class="form-group col-sm-6">
                                <label class="control-label">Trailer<span class="asterisk">*</span></label>
                               <input type="text" class="form-control input-sm" name="trailer" value="{$trailer}">
                            </div><!-- /.form-group -->
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                            <label class="control-label">Ship To<span class="asterisk">*</span></label>
                                <select class="form-control mb-15" name="shipTo" tabindex="2" id=shipto> 
                                <option value="">Selecciona Ship</option>
                                {foreach key=key item=ship from=$ship_to}
                                <option value="{$ship.ship_code}" '{if $ship.ship_code eq $shipTo} selected {/if}'>{$ship.ship_state},{$ship.ship_address}</option>
                                {/foreach}                              
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-6">
                                <label class="control-label">Factura<span class="asterisk">*</span></label>
                               <input type="text" class="form-control input-sm" name="seal" value="{$seal}">
                            </div><!-- /.form-group -->
                        </div> 
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <table id="table-ship" class="table table-striped table-lilac">
                                    <tr>
                                        <td>reny Ctrl</td>
                                        <td>Lote</td>
                                        <td style="dispaly:none;"></td>
                                        <td>Bags</td>
                                        <td>Fecha Prod</td>
                                        <td>Fecha cad</td>
                                        <td>Location</td>
                                        <td>storage</td>
                                        <td>acción</td>
                                    </tr>
                                    <tbody id="addrow">
                                     {$i=0}
                                    {foreach key=key item=shipLots from=$shipment}
                                    {if isset($shipLots.reny_ctrl)}
                                    {$i=$i+1}
                                    <tr id="{$shipLots.lotShip_code}" class="{$i}">
                                        <td style="display:none;">
                                            <input type="text" name="idLotShip[]" class="form-control" value="{$shipLots.lotShip_code}" readonly>
                                        </td>
                                    	<td>
                                           <select type="text" name="renyCtrl[]" class="form-control renyCtrl{$i}" placeholder="reny Ctrl" id="renyCtrl{$i}" value="{$shipLots.reny_ctrl}">
                                           <option value="{$reny_ctr[$i-1]}" selected>{$reny_ctr[$i-1]}</option>
                                           </select>
                                        </td>
                                        <td>
                                           <select type="text" name="lots[]" placeholder="Lote" id="lot{$i}" class="form-control lots{$i}" value="{$shipLots.lot}">
                                           <option value="{$shipLots.lote_code}" selected>{$shipLots.lot}</option>
                                           </select>
                                        </td>
                                        <td style="dispaly:none;">
                                            <input type="hidden" name="bags_pallets[]" id="bags_pallets{$i}" class="form-control bags_palletsl{$i}" value="{$shipLots.bags_pallets}">
                                        </td>
                                        <td>
                                            <input type="number" name="bags[]" id="bags{$i}" placeholder="Bags" class="form-control bags{$i}" value="{$shipLots.bags_totalShip}" max="{$shipLots.bags_totalShip + ($shipLots.stock - $shipLots.reserved)}" min="1">
                                        </td>
                                        <td>
                                            <input type="text" name="prod_date[]" value="{$shipLots.prod_date|date_format:"%e/%b/%Y"}" id="prod" class="form-control prod_date{$i}"  readonly="true">
                                        </td>
                                        <td>
                                            <input type="text" name="exp_date[]" value="{$shipLots.exp_date|date_format:"%e/%b/%Y"}" id="exp" class="form-control exp_date{$i}"  readonly="true">
                                        </td>   
                                        <td>
                                            <input type="text" name="location[]" class="form-control location{$i}" readonly="true" value="{$shipLots.location}" style="width:60px;">
                                        </td> 
                                        <td>
                                       		<input type="text" name="storage[]" class="form-control storage{$i}" readonly="true" value="{$shipLots.storage}" style="width:60px;">
                                        </td>
                                        <td class="text-center">
                                            <a id="{$shipLots.lotShip_code}" class="btn btn-danger btn-xs delLot" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                    {/if}
                                     {/foreach}
                                    </tbody>
                                     <input type="hidden" id="numLots" name="index" class="" value="{$i}">
                                     <input type="hidden" id="lotShipNo" name="lotShipment" class="" value="{$i}">
                                </table>
                                {if $status == "Nuevo"}
                                <button type="button" class="btn btn-theme pull-right" id="addreny">Agregar Lote</button>
                                {elseif $status == "Listo" || $status == "Listo Modificado"}
                                <button type="button" class="btn btn-theme pull-right" id="addreny">Agregar Lote</button>
                                {/if}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Notas:</label>              
                                     <textarea class="form-control" rows="5" name="notes">{$notes}</textarea>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                             <div class="form-group col-sm-2">
                                <label class="control-label">Total Bags:<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" id="totalBag" placeholder="">
                            </div><!-- /.form-group -->
                            <div class="col-sm-10">
                                <div class="row"> 
                                {if $status == "Nuevo"}
                                    <div class="col-sm-6">
                                        <label>Imagenes</label>
                                        <div>
                                            {$c = 0}
                                            {foreach key=key item=img from=$images}
                                            <div class="col-sm-4" id="{$img.id}">
                                                {if $extencion[$c] == 'image'}
                                                    <img src="{$img.url}/{$img.name}" width="100%">
                                                {elseif $extencion[$c] == 'pdf'}
                                                    <img src="{base_url('assets/global/img/pdf.png')}" width="100%">
                                                {elseif $extencion[$c] == 'doc'}
                                                    <img src="{base_url('assets/global/img/doc.png')}" width="100%">
                                                {elseif $extencion[$c] == 'xls'}
                                                    <img src="{base_url('assets/global/img/xls.png')}" width="100%">
                                                {/if}
                                                <a href="{$img.url}/{$img.name}" target="_blank"> {$img.name}</a>
                                                <a id="{$img.id}/{$img.name}" class="btn btn-danger btn-xs delImg" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" style="position:absolute; top:1px;"><i class="fa fa-times"></i></a>
                                            </div>
                                            {$c = $c + 1}
                                            {/foreach}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Cargar Imagenes</label> 
                                        <div id="my-dropzone" action="{base_url('shipments/images')}/{$no}" class="col-sm-12 dropzone pull-right">
                                            <div class="fallback">
                                                <input name="img" type="file" multiple />
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                {elseif $status == "Listo" || $status == "Listo Modificado"}
                                    <div class="col-sm-6">
                                        <label>Imagenes</label>
                                        <div>
                                            {$c = 0}
                                            {foreach key=key item=img from=$images}
                                            <div class="col-sm-4" id="{$img.id}">
                                                {if $extencion[$c] == 'image'}
                                                    <img src="{$img.url}/{$img.name}" width="100%">
                                                {elseif $extencion[$c] == 'pdf'}
                                                    <img src="{base_url('assets/global/img/pdf.png')}" width="100%">
                                                {elseif $extencion[$c] == 'doc'}
                                                    <img src="{base_url('assets/global/img/doc.png')}" width="100%">
                                                {elseif $extencion[$c] == 'xls'}
                                                    <img src="{base_url('assets/global/img/xls.png')}" width="100%">
                                                {/if}
                                                <a href="{$img.url}/{$img.name}" target="_blank"> {$img.name}</a>
                                                <a id="{$img.id}/{$img.name}" class="btn btn-danger btn-xs delImg" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" style="position:absolute; top:1px;"><i class="fa fa-times"></i></a>
                                            </div>
                                            {$c = $c + 1}
                                            {/foreach}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Cargar Imagenes</label> 
                                        <div id="my-dropzone" action="{base_url('shipments/images')}/{$no}" class="col-sm-12 dropzone pull-right">
                                            <div class="fallback">
                                                <input name="img" type="file" multiple />
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>

                                {elseif $status == "Terminado"}
                                    <div class="col-sm-12">
                                        <label>Imagenes</label>
                                        <div>
                                            {$c = 0}
                                            {foreach key=key item=img from=$images}
                                            <div class="col-sm-3" id="{$img.id}">
                                                {if $extencion[$c] == 'image'}
                                                    <img src="{$img.url}/{$img.name}" width="100%">
                                                {elseif $extencion[$c] == 'pdf'}
                                                    <img src="{base_url('assets/global/img/pdf.png')}" width="100%">
                                                {elseif $extencion[$c] == 'doc'}
                                                    <img src="{base_url('assets/global/img/doc.png')}" width="100%">
                                                {elseif $extencion[$c] == 'xls'}
                                                    <img src="{base_url('assets/global/img/xls.png')}" width="100%">
                                                {/if}
                                                <a href="{$img.url}/{$img.name}" target="_blank"> {$img.name}</a>
                                            </div>
                                            {$c = $c + 1}
                                            {/foreach}
                                        </div>
                                    </div>
                                {/if}
                                </div>
                            </div>
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                        {if $status == "Nuevo"}
                        <button type="submit" class="btn btn-theme" formaction="{base_url('shipments/upShipmentnuevo')}/{$no}">Actualizar</button>
                        <button type="submit" class="btn btn-theme">Marcar Listo</button>
                         <a id="{$noShipm}" class="btn btn-theme delShip"><i class="fa fa-trash"></i> Eliminar</a>
                        {elseif $status == "Listo" || $status == "Listo Modificado"}
                        <button type="submit" class="btn btn-theme">Actualizar</button>
                         <a id="{$noShipm}" class="btn btn-theme delShip"><i class="fa fa-trash"></i> Eliminar</a>
                        <a href="{base_url('shipments/searchShip')}" class="btn btn-theme">Cerrar</a>
                         {elseif $status == "Terminado" }
                        <a href="{base_url('shipments/billOfLading')}/{$id_out}" class="btn btn-theme" target="_blank">Bill of Lading</button>
                        <a id ="{$noShipm}" class="btn btn-sm btn-theme btn-xs mail" style="height:32px;width: 120px;padding-top: 6px;padding-bottom: 6px;padding-left: 12px;padding-right: 12px;">Enviar Correo</a>
                        <a href="{base_url('shipments/searchShip')}" class="btn btn-theme">Cerrar</a>
                        {/if}
                        </div>
                    </div><!-- /.form-footer -->
                </form>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->
 <div class="modal fade bs-example-modal-lg" id="bagsPallet">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Bags Por Pallets</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-bordered" id="bagsP" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                    Introduce la cantidad de bolsas por Pallets
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control input-sm" name="bagsPall" id="bagPallets" value="0">
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                                <div class="form-footer">
                                    <div class="col-sm-offset-3">
                                        <button type="button" class="btn btn-theme" id="acept">Aceptar</button>
                                    </div>
                                </div><!-- /.form-footer -->
                            </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->