<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-left fa-4x"></i>PACKING LIST</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Salidas</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Packing List</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
        <!-- Start datatable using ajax -->
                <div>
                    <!-- Start datatable -->
                     <table id="datatable-dom" class="table table-striped table-theme">
                        <thead>
                        <tr> 
                            <th data-class="expand">No. Salida</th> 
                            <th data-hide="phone">Estatus</th>    
                            <th data-hide="phone">Fecha Registro</th>
                            <th data-hide="phone">Fecha Salida</th>
                            <th data-hide="phone">Carrier</th>
                            <th data-hide="phone">Trailer</th>
                            <th data-hide="phone">Factura</th>
                            <th data-hide="phone">Opciones</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {foreach key=key item=con from=$list_packing}
                            <tr>
                                <td class="text-center">{$con.no_shipment}</td>
                                <td style="font-size:16px; text-align:center;"><span class="label label-warning">{$con.statusShip}</span></td>
                                <td>{$con.system_date}</td>
                                <td>{$con.start}</td>
                                <td>{$con.carrier}</td>
                                <td>{$con.trailer}</td>
                                <td>{$con.seal}</td>                                
                                <td class="text-center">
                                    <a href="select_Packing/{$con.no_ship}" class="btn btn-sm btn-success btn-xs btn-push btn-view"><i class="fa fa-eye"></i> Entrar</a>
                                </td>
                            </tr>
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
<!--MODAL VER-->
        <div class="modal fade bs-example-modal-lg" id="">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <iframe src=""></iframe>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
