<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-left fa-4x"></i>Packing List</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Salidas</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Packing List</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">
                <div id="success" class="alert alert-success animated fadeIn" style="display:none;">
                           
                </div>
                <div id="error" class="alert alert-danger animated fadeIn" style="display:none;">
                    <span class="alert-icon"><i class="fa fa-times"></i></span>
                    <strong>Error al enviar!</strong> verifique la dirección de correo electronico </a>.
                </div>
        <!-- Start basic validation -->
            <div class="">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Salida No.</label>
                                {$no}
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right" style="font-size:22px;">
                            {if $status == "Nuevo"}
                                <span class="label label-success">{$status}</span>
                            {elseif $status == "Listo" || $status == "Listo Modificado"}
                                <span id="stat" class="label label-warning">{$status}</span>
                            {elseif $status == "Terminado"}
                                <span class="label label-primary">{$status}</span>
                            {/if}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Fecha:</label>                     
                                     {$date}
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$dateSyst}</span></div> 
                        </div> 
                        <div class="row">
                            <div class="form-group col-sm-6">

                                <label class="control-label">Bodega:</label>                     
                                     {$whse}
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"></div> 
                        </div> 
                        <hr />
                    <form class="form-horizontal" role="form" id="receipt"  method="post">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Cliente</label>
                                 {$cust}
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-6">
                                <label class="control-label">Carrier</label>
                                <input type="text" class="form-control input-sm" name="carrier" id="" value="{$carrier}" >
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Producto</label>
                                {$item_name} 
                            </div><!-- /.form-group -->
                             <div class="form-group col-sm-6">
                                <label class="control-label">Trailer</label>
                                <input type="text" class="form-control input-sm" name="trailer" value="{$trailer}">
                            </div><!-- /.form-group -->
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                             <label class="control-label">Ship To<span class="asterisk">*</span></label>
                                <select class="form-control mb-15" name="shipTo" tabindex="2"> 
                                <option value="">Selecciona Ship</option>
                                {foreach key=key item=ship from=$ship_list}
                                <option value="{$ship.ship_code}"'{if $ship.ship_code eq $shipTo} selected {/if}'>{$ship.ship_state},{$ship.ship_address}</option>
                                {/foreach}                              
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-6">
                                <label class="control-label">Factura</label>
                                <input type="text" class="form-control input-sm" name="seal" value="{$seal}">
                            </div><!-- /.form-group -->
                        </div> 
                        <hr />
                        <div class="row">
                            <div class="table-responsive mb-20">
                                <table id="table-ship" class="table table-theme text-center">
                                 <thead>
                                    <tr>
                                        <th class="text-center">reny Ctrl</th>
                                        <th class="text-center">Lote</th>
                                        <th class="text-center">Bags</th>
                                        <th class="text-center">Fecha Proh</th>
                                        <th class="text-center">Fecha Cah</th>
                                        <th class="text-center">Location</th>
                                        <th class="text-center">Storage</th>
                                        <th class="text-center">Notas</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                     {$i=0}
                                    {foreach key=key item=shipLots from=$packingList}
                                    {$i=$i+1}
                                    <tr id="{$shipLots.lotShip_code}">
                                        <td style="display:none;">
                                            <input type="text" name="idLotShip[]" class="form-control" value="{$shipLots.lotShip_code}" readonly>
                                        </td>
                                    	<td>
                                           {$vic_ctr[$i-1]}
                                        </td>
                                        <td>
                                           {$shipLots.lot}
                                        </td>
                                        <td>
                                            {$shipLots.bags_totalShip}
                                        </td>
                                        <td>
                                            {$shipLots.exp_date|date_format:"%e/%b/%Y"}
                                        </td>
                                        <td>
                                            {$shipLots.prod_date|date_format:"%e/%b/%Y"}
                                        </td>    
                                        <td>
                                            {$shipLots.location}
                                        </td>
                                        <td>
                                       		{$shipLots.storage}
                                        </td>
                                        <td>
                                            {$shipLots.notes}
                                        </td>
                                    </tr>
                                     {/foreach}
                                   </tbody>
                                </table>
                                <input type="hidden" id="numLots" name="index" class="" value="{$i}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                             <div class="form-group col-sm-2">
                             {$totalbag = 0}
                             {foreach key=key item=shipLots from=$packingList}
                             {$totalbag =$totalbag + $shipLots.bags_totalShip}
                             {/foreach}
                                     <br>
                                <label class="control-label">Total Bags:</label>                     
                                     {$totalbag}
                            </div><!-- /.form-group -->

                            <div class="col-sm-10">
                                <div class="row"> 
                                    <div class="col-sm-6">
                                        <label>Imagenes</label>
                                        <div>
                                            {$c = 0}
                                            {foreach key=key item=img from=$images}
                                            <div class="col-sm-4" id="{$img.id}">
                                                <a href="{$img.url}/{$img.name}" target="_blank"> 
                                                <img src="{$img.url}/{$img.name}" width="100%">{$img.name}</a>
                                                <a id="{$img.id}/{$img.name}" class="btn btn-danger btn-xs delImg" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" style="position:absolute; top:1px;"><i class="fa fa-times"></i></a>
                                            </div>
                                            {$c = $c + 1}
                                            {/foreach}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Cargar Imagenes</label> 
                                        <div  id="my-dropzone" action="{base_url('shipments/images')}/{$no}" class="col-sm-12 dropzone pull-right">
                                            <div class="fallback">
                                                <input name="img" type="file" multiple />
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                </div>
                            </div>
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                        {if $email eq null}
                            <div class="callout callout-warning">
                                <strong>Aviso!</strong>Casilla <strong>Enviar Correo</strong> desabilitada, Cliente sin Email Asignado.
                            </div>
                         {/if}
                        <div class="form-group col-sm-4">
                            <label class="col-sm-6 control-label" style="margin-left:200px;">Enviar Correo</label>
                            <div class="col-sm-1 ckbox ckbox-theme">
                               <input id="sendMail" type="checkbox" name="sendMail" value="1" {if $email eq null} disabled {/if}>
                               <label for="sendMail" class=" control-label"></label>
                            </div>
                        </div>
                        <div id="button" class="col-sm-offset-3">
                        <a href="{base_url('packingList/impPacking')}/{$noShipment}" id="export" type="button" class="btn btn-theme" target="_blank">Exportar PDF</a>
                        <button type="button" id="embarcado" data-ship="{$no}" data-bill="{$id_out}" class="btn btn-theme" disabled>Marcar Embarcado</button>
                        </div>
                    </div><!-- /.form-footer -->
                </form>
            </div><!-- /.panel-body -->
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->
 