<footer class="footer-content">
    All rights reserved - <span id="copyright-year"></span> &copy; Reny Picot. 
    <span class="pull-right">0.01 GB(0%) of 15 GB used</span>
</footer><!-- /.footer-content -->