<aside id="sidebar-left" class="sidebar-circle sidebar-light">

<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <div class="media">
        <a class="pull-left has-notif avatar">
            <img src="{base_url('assets/global/img/icon/64/contact.png')}" alt="admin">
            <i class="online"></i>
        </a>
        <div class="media-body">
            <h4 class="media-heading"><span>{$username}</span></h4>
            <small>{$role}</small>
        </div>
    </div>
</div><!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<!-- Start left navigation - menu -->
<ul class="sidebar-menu">
{if $employees eq 'employees'}
    {if $role eq 'Administrador' or $role eq 'Oficina'}
<!-- Start navigation - dashboard -->
<li class="{if isset($active_dashboard)} {$active_dashboard} {/if}">
<a href="{base_url('dashboard')}">
    <span class="icon"><i class="fa fa-home"></i></span>
    <span class="text">Dashboard</span>
    {if isset($active_dashboard)} {'<span class="selected"></span>'} {/if}
</a>
</li>
<!--/ End navigation - dashboard -->

<!-- Start category ui citas-->
<li class="sidebar-category">
    <span>CITAS</span>
    <span class="pull-right"><i class="fa fa-clipboard"></i></span>
</li>
<!--/ End category ui citas-->

<!-- Start navigation - calendario -->
<li class="submenu {if isset($active_calendar)} {$active_calendar} {/if}">
    <a href="{base_url('appointment/calendarAppoint')}">
        <span class="icon"><i class="fa fa-calendar"></i></span>
        <span class="text">Calendario</span>
        <span class="label label-primary pull-right rounded"></span>
        {if isset($active_calendar)} {'<span class="selected"></span>'} {/if}
    </a>
</li>
<!--/ End navigation - calendario -->

<!-- Start navigation - agendar -->
<li class="submenu {if isset($active_newAppointment)} {$active_newAppointment} {/if}">
    <a href="{base_url('appointment/add')}">
        <span class="icon"><i class="fa fa-book"></i></span>
        <span class="text">Agendar Cita</span>
        <span class="label label-primary pull-right rounded"></span>
        {if isset($active_newAppointment)} {'<span class="selected"></span>'} {/if}
    </a>
</li>
<!--/ End navigation - agendar -->
{/if}
{if $role eq 'Administrador' or $role eq 'Oficina' or $role eq 'Bodega' or $role eq 'Supervisor'}
<!-- Start category Transacciones -->
<li class="sidebar-category">
    <span>TRANSACCIONES</span>
    <span class="pull-right"><i class="fa fa-exchange"></i></span>
</li>
<!--/ End category Transacciones -->

<!-- Start development - Entradas -->
<li class="submenu {if isset($active_receipt)} {$active_receipt} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-arrow-right"></i></span>
        <span class="text">Entradas</span>
        <span class="plus"></span>
        {if isset($active_receipt)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_searchReceipt)} {$active_searchReceipt} {/if}"><a href="{base_url('receipts/searchReceipt')}">Buscar</a></li>
        {if $role neq 'Supervisor'}<li class="{if isset($active_newReceipt)} {$active_newReceipt} {/if}"><a href="{base_url('receipts/load_addReceipts')}">Nueva Entrada</a></li>{/if}
    </ul>
</li>
<!--/ End development - Entradas -->

<!-- Start development - Salidas -->
{if $role neq 'Supervisor'}<li class="submenu {if isset($active_shipments)} {$active_shipments} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-arrow-left"></i></span>
        <span class="text">Salidas</span>
        <span class="plus"></span>
        {if isset($active_shipments)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_searchShip)} {$active_searchShip} {/if}"><a href="{base_url('shipments/searchShip')}">Calendario</a></li>
        <li class="{if isset($active_newShipment)} {$active_newShipment} {/if}"><a href="{base_url('shipments/load_addShipments')}">Nueva Salida</a></li>
        <li class="{if isset($active_packing)} {$active_packing} {/if}"><a href="{base_url('packingList/load_packingList')}">Packing List</a></li>
        <!--/ <li class="{if isset($active_adjust)} {$active_adjust} {/if}"><a href="{base_url('shipments/load_adjustment')}">Ajuste Inventario</a></li>-->
    </ul>
</li>{/if}
<!--/ End development - Salidas -->
{/if}
{/if}
<!-- Start category widget -->
<li class="sidebar-category">
    <span>REPORTES</span>
    <span class="pull-right"><i class="fa fa-file-text"></i></span>
</li>
<!--/ End category widget -->

<!-- Start widget - overview -->
<li class="{if isset($active_reportreceipt)} {$active_reportreceipt} {/if}">
    <a href="{base_url('reports/searchReceipt')}">
        <span class="icon"><i class="fa fa-arrow-right"></i></span>
        <span class="text">Entradas</span>
        <span class="label label-primary pull-right rounded"></span>
        {if isset($active_reportreceipt)} {'<span class="selected"></span>'} {/if}
    </a>
</li>
<!--/ End widget - overview -->

<!-- Start widget - social -->
<li class="{if isset($active_reporShip)} {$active_reporShip} {/if}">
    <a href="{base_url('reports/searchShipRep')}">
        <span class="icon"><i class="fa fa-arrow-left"></i></span>
        <span class="text">Salidas</span>
        <span class="label label-success pull-right rounded"></span>
        {if isset($active_reporShip)} {'<span class="selected"></span>'} {/if}
    </a>
</li>
<!--/ End widget - social -->

<!-- Start widget - blog -->
<li class="{if isset($active_reporInvent)} {$active_reporInvent} {/if}">
    <a href="{base_url('reports/searchinvent')}">
        <span class="icon"><i class="fa fa-usd"></i></span>
        <span class="text">Inventario</span>
        <span class="label label-info pull-right rounded"></span>
        {if isset($active_reporInvent)} {'<span class="selected"></span>'} {/if}
    </a>
</li>
<!--/ End widget - blog -->
{if $role neq 'Cliente'}
<!-- Start category catalogos -->
<li class="sidebar-category">
    <span>CATALOGOS</span>
    <span class="pull-right"><i class="fa fa-folder-open"></i></span>
</li>
<!--/ End category apps -->

<!-- Start navigation -Productos -->
<li class="submenu {if isset($active_item)} {$active_item} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-shopping-cart"></i></span>
        <span class="text">Productos</span>
        <span class="arrow"></span>
        {if isset($active_item)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_item_search)} {$active_item_search} {/if}"><a href="{base_url('item/search')}">Buscar</a></li>
        <li class="{if isset($new_item)} {$new_item} {/if}"><a href="{base_url('item/load_additem')}">Agregar Producto</a></li>
    </ul>
</li>
<!--/ End navigation - Productos -->

<!-- Start navigation - Proveedores -->
<li class="submenu {if isset($active_vendor)} {$active_vendor} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-truck"></i></span>
        <span class="text">Proveedores</span>
        <span class="arrow"></span>
        {if isset($active_vendor)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_vendor_search)} {$active_vendor_search} {/if}"><a href="{base_url('vendors/search')}">Buscar</a></li>
        <li class="{if isset($new_vendor)} {$new_vendor} {/if}"><a href="{base_url('vendors/load_addvendor')}">Registrar Proveedor</a></li>
    </ul>
</li>
<!--/ End navigation - proveedores -->

<!-- Start navigation - producer -->
<li class="submenu {if isset($active_producer)} {$active_producer} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-wrench"></i></span>
        <span class="text">Productores</span>
        <span class="arrow"></span>
        {if isset($active_producer)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_producer_search)} {$active_producer_search} {/if}"><a href="{base_url('producer/search')}">Buscar</a></li>
        <li class="{if isset($new_producer)} {$new_producer} {/if}"><a href="{base_url('producer/load_addproducer')}">Registrar Productor</a></li>
    </ul>
</li>
<!--/ End navigation - producer -->

<!-- Start navigation - brand -->
<li class="submenu {if isset($active_brand)} {$active_brand} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <span class="text">Marca</span>
        <span class="arrow"></span>
        {if isset($active_brand)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_brand_search)} {$active_brand_search} {/if}"><a href="{base_url('brand/search')}">Buscar</a></li>
        <li class="{if isset($new_brand)} {$new_brand} {/if}"><a href="{base_url('brand/load_addbrand')}">Registrar Marca</a></li>
    </ul>
</li>
<!--/ End navigation - brand -->

<!-- Start navigation - plant -->
<li class="submenu {if isset($active_plant)} {$active_plant} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-industry"></i></span>
        <span class="text">Planta</span>
        <span class="arrow"></span>
        {if isset($active_plant)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_plant_search)} {$active_plant_search} {/if}"><a href="{base_url('plant/search')}">Buscar</a></li>
        <li class="{if isset($new_plant)} {$new_plant} {/if}"><a href="{base_url('plant/load_addplant')}">Registrar Planta</a></li>
    </ul>
</li>
<!--/ End navigation - plant -->

<!-- Start navigation - clasification -->
<li class="submenu {if isset($active_clasification)} {$active_clasification} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-folder-open"></i></span>
        <span class="text">Clasificaciones</span>
        <span class="arrow"></span>
        {if isset($active_clasification)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_clasification_search)} {$active_clasification_search} {/if}"><a href="{base_url('clasification/search')}">Buscar</a></li>
        <li class="{if isset($new_clasification)} {$new_clasification} {/if}"><a href="{base_url('clasification/load_addclasification')}">Registrar Clasification</a></li>
    </ul>
</li>
<!--/ End navigation - clasification -->
<!-- Start navigation - clientes -->
<li class="submenu {if isset($active_customers)} {$active_customers} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-users"></i></span>
        <span class="text">Clientes</span>
        <span class="arrow"></span>
        {if isset($active_customers)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_customers_search)} {$active_customers_search} {/if}"><a href="{base_url('customer/search')}">Buscar</a></li>
        <li class="{if isset($new_customers)} {$new_customers} {/if}"><a href="{base_url('customer/load_addCust')}">Registrar cliente</a></li>
    </ul>
</li>
<!--/ End navigation - clientes -->

<!-- Start navigation - Bodegas -->
<li class="submenu {if isset($active_whse)} {$active_whse} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-building"></i></span>
        <span class="text">Bodegas</span>
        <span class="arrow"></span>
        {if isset($active_whse)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_whseSearch)} {$active_whseSearch} {/if}"><a href="{base_url('warehouse/search')}">Buscar</a></li>
        <li class="{if isset($new_whse)} {$new_whse} {/if}"><a href="{base_url('warehouse/load_add_whse')}">Registrar Bodega</a></li>
    </ul>
</li>
<!--/ End navigation - Bodegas -->
{/if}
{if $role eq 'Administrador'}
<!--/ start navigation - usuarios -->
<li class="submenu {if isset($active_users)} {$active_users} {/if}">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-user"></i></span>
        <span class="text">Usuarios</span>
         <span class="arrow"></span>
        {if isset($active_users)} {'<span class="selected"></span>'} {/if}
    </a>
    <ul>
        <li class="{if isset($active_newUsers)} {$active_newUsers} {/if}"><a href="{base_url('account/users_table')}">Usuarios</a></li>
        <li class="{if isset($active_users_table)} {$active_users_table} {/if}"><a href="{base_url('account/load_signup')}">Nuevo Usuario</a></li>
    </ul>
</li>
<!--/ End navigation - usuarios -->
{/if}



</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->

</aside><!-- /#sidebar-left -->