 /* estilos para el footer y el numero de pagina */
@page { margin: 100px 50px; }
body{
  font: helvetica;
}
#header {
    position: fixed;
    left: 0px; top: -80px;
    right: 0px;
    height: 150px;
    color: #000;
    text-align: center;
}
#footer {
    position: fixed;
    left: 0px;
    bottom: -200px;
    right: 0px;
    height: 80px;
    color: #000;
}
#footer .page{
    text-align: right;
}
#footer .page:after {
    content: counter(page);
}
p{
	margin: 0px;
}
.logo{
	width: 250px;
	float: right;
	position: fixed;
	left: -10px; top: -80px;
	margin: 0px;
}
.info{
	font: helvetica;
	font-size: 12px;
	position: fixed;
	float: right;
	text-align: right;
	margin: 0px;
	right: 0px; top: -70px;
}
h2{
	font: helvetica;
	font-size: 20px;
}
/* ========================================================================
 * TABLE
 * ======================================================================== */
.table {
	  width: 100%;
    margin-top: 0px;
  	font: helvetica;
  	font-size: 12px;
  	text-align: center;
}
.table thead tr th {
  border-color: #e1e1e1 #e1e1e1 #dcdcdc;
  vertical-align: middle;
  border-width: 1px 1px 7px;
  border-style: solid;
  font-weight: 800;
  font-size: 13px;
}
.table thead tr th:first-child {
  border-left: none;
}
.table thead tr th:last-child {
  border-right: none;
}
.table thead .sorting:after {
  margin-left: 5px;
  content: "\f0dc";
  font-family: 'FontAwesome';
}
.table thead .sorting_asc:after {
  margin-left: 5px;
  content: "\f0dd";
  font-family: 'FontAwesome';
}
.table thead .sorting_desc:after {
  margin-left: 5px;
  content: "\f0de";
  font-family: 'FontAwesome';
}
.table thead .sorting_asc_disabled:after {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.3);
  content: "\f0dd";
  font-family: 'FontAwesome';
}
.table thead .sorting_desc_disabled:after {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.3);
  content: "\f0de";
  font-family: 'FontAwesome';
}
.table tbody tr.border-danger td {
  background: inherit !important;
}
.table tbody tr.border-danger td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-danger td:first-child:before {
  border-left: 3px solid #e9573f;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr.border-success td {
  background: inherit !important;
}
.table tbody tr.border-success td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-success td:first-child:before {
  border-left: 3px solid #8cc152;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr.border-primary td {
  background: inherit !important;
}
.table tbody tr.border-primary td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-primary td:first-child:before {
  border-left: 3px solid #00b1e1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr.border-info td {
  background: inherit !important;
}
.table tbody tr.border-info td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-info td:first-child:before {
  border-left: 3px solid #63d3e9;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr.border-warning td {
  background: inherit !important;
}
.table tbody tr.border-warning td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-warning td:first-child:before {
  border-left: 3px solid #f6bb42;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr.border-inverse td {
  background: inherit !important;
}
.table tbody tr.border-inverse td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-inverse td:first-child:before {
  border-left: 3px solid #2a2a2a;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr.border-lilac td {
  background: inherit !important;
}
.table tbody tr.border-lilac td:first-child {
  position: relative;
  padding-left: 10px;
}
.table tbody tr.border-lilac td:first-child:before {
  border-left: 3px solid #906094;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
}
.table tbody tr:first-child td:first-child:before {
  top: 2px !important;
}
.table tbody tr td {
  background-color: #FBFBFB;
}
.table tbody tr td > a {
  margin-right: 5px;
}
.table tbody tr td > a i {
  color: #636E7B;
}
.table tbody tr td .btn.btn-success i,
.table tbody tr td .btn.btn-danger i,
.table tbody tr td .btn.btn-primary i,
.table tbody tr td .btn.btn-info i,
.table tbody tr td .btn.btn-warning i {
  color: white;
}
.table tfoot tr th {
  vertical-align: middle;
  background-color: #eeeeee;
  border-width: 7px 1px 1px;
  border-style: solid;
  border-color: #dcdcdc #e1e1e1 #e1e1e1;
  font-weight: 400;
  font-size: 13px;
  border-bottom: none;
}
.table tfoot tr th:first-child {
  border-left: none;
}
.table tfoot tr th:last-child {
  border-right: none;
}
.table.table-striped tbody tr:nth-child(odd) td,
.table.table-striped tbody tr:nth-child(odd) th {
  background-color: #f6f6f6;
}
table.table-bordered tbody tr td:first-child:before {
  left: -2px !important;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: none;
}
.table-primary thead tr th {
  background-color: #00b1e1 !important;
  border-color: #00c5fb #00c5fb #0095bd !important;
  color: #fff;
}
.table-primary tbody tr td.sorting_1 {
  background: #24d0ff !important;
  color: white;
  border-bottom: 1px solid #48d8ff !important;
}
.table-primary tfoot tr th {
  background-color: #00b1e1 !important;
  border-color: #0095bd #00c5fb #00c5fb !important;
  color: #fff;
}
.table-primary.table-bordered {
  border: 1px solid #00b1e1;
}
.table-primary.table-bordered thead tr th:first-child,
.table-primary.table-bordered tfoot tr th:first-child,
.table-primary.table-bordered thead tr th:last-child,
.table-primary.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-primary.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #48d8ff !important;
}
.table-primary table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-primary table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-success thead tr th {
  background-color: #8cc152 !important;
  border-color: #98c865 #98c865 #7ab03f !important;
  color: #fff;
}
.table-success tbody tr td.sorting_1 {
  background: #acd283 !important;
  color: white;
  border-bottom: 1px solid #bedc9d !important;
}
.table-success tfoot tr th {
  background-color: #8cc152 !important;
  border-color: #7ab03f #98c865 #98c865 !important;
  color: #fff;
}
.table-success.table-bordered {
  border: 1px solid #8cc152;
}
.table-success.table-bordered thead tr th:first-child,
.table-success.table-bordered tfoot tr th:first-child,
.table-success.table-bordered thead tr th:last-child,
.table-success.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-success.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #bedc9d !important;
}
.table-success table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-success table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-info thead tr th {
  background-color: #63d3e9 !important;
  border-color: #79d9ec #79d9ec #44cae5 !important;
  color: #fff;
}
.table-info tbody tr td.sorting_1 {
  background: #9de3f1 !important;
  color: white;
  border-bottom: 1px solid #bcecf6 !important;
}
.table-info tfoot tr th {
  background-color: #63d3e9 !important;
  border-color: #44cae5 #79d9ec #79d9ec !important;
  color: #fff;
}
.table-info.table-bordered {
  border: 1px solid #63d3e9;
}
.table-info.table-bordered thead tr th:first-child,
.table-info.table-bordered tfoot tr th:first-child,
.table-info.table-bordered thead tr th:last-child,
.table-info.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-info.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #bcecf6 !important;
}
.table-info table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-info table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-warning thead tr th {
  background-color: #f6bb42 !important;
  border-color: #f7c45a #f7c45a #f4af20 !important;
  color: #fff;
}
.table-warning tbody tr td.sorting_1 {
  background: #f9d281 !important;
  color: white;
  border-bottom: 1px solid #fbdea3 !important;
}
.table-warning tfoot tr th {
  background-color: #f6bb42 !important;
  border-color: #f4af20 #f7c45a #f7c45a !important;
  color: #fff;
}
.table-warning.table-bordered {
  border: 1px solid #f6bb42;
}
.table-warning.table-bordered thead tr th:first-child,
.table-warning.table-bordered tfoot tr th:first-child,
.table-warning.table-bordered thead tr th:last-child,
.table-warning.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-warning.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #fbdea3 !important;
}
.table-warning table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-warning table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-danger thead tr th {
  background-color: #e9573f !important;
  border-color: #ec6b56 #ec6b56 #e53b1f !important;
  color: #fff;
}
.table-danger tbody tr td.sorting_1 {
  background: #f08b7a !important;
  color: white;
  border-bottom: 1px solid #f3a79b !important;
}
.table-danger tfoot tr th {
  background-color: #e9573f !important;
  border-color: #e53b1f #ec6b56 #ec6b56 !important;
  color: #fff;
}
.table-danger.table-bordered {
  border: 1px solid #e9573f;
}
.table-danger.table-bordered thead tr th:first-child,
.table-danger.table-bordered tfoot tr th:first-child,
.table-danger.table-bordered thead tr th:last-child,
.table-danger.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-danger.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #f3a79b !important;
}
.table-danger table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-danger table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-lilac thead tr th {
  background-color: #906094 !important;
  border-color: #9c6da0 #9c6da0 #7b527e !important;
  color: #fff;
}
.table-lilac tbody tr td.sorting_1 {
  background: #ad86b0 !important;
  color: white;
  border-bottom: 1px solid #bc9cbe !important;
}
.table-lilac tfoot tr th {
  background-color: #906094 !important;
  border-color: #7b527e #9c6da0 #9c6da0 !important;
  color: #fff;
}
.table-lilac.table-bordered {
  border: 1px solid #906094;
}
.table-lilac.table-bordered thead tr th:first-child,
.table-lilac.table-bordered tfoot tr th:first-child,
.table-lilac.table-bordered thead tr th:last-child,
.table-lilac.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-lilac.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #bc9cbe !important;
}
.table-lilac table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-lilac table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-inverse thead tr th {
  background-color: #2a2a2a !important;
  border-color: #373737 #373737 #181818 !important;
  color: #fff;
}
.table-inverse tbody tr td.sorting_1 {
  background: #4b4b4b !important;
  color: white;
  border-bottom: 1px solid #5d5d5d !important;
}
.table-inverse tfoot tr th {
  background-color: #2a2a2a !important;
  border-color: #181818 #373737 #373737 !important;
  color: #fff;
}
.table-inverse.table-bordered {
  border: 1px solid #2a2a2a;
}
.table-inverse.table-bordered thead tr th:first-child,
.table-inverse.table-bordered tfoot tr th:first-child,
.table-inverse.table-bordered thead tr th:last-child,
.table-inverse.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-inverse.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #5d5d5d !important;
}
.table-inverse table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-inverse table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}
.table-teal thead tr th {
  background-color: #37bc9b !important;
  border-color: #44c8a8 #44c8a8 #2fa084 !important;
  color: #fff;
}
.table-teal tfoot tr th {
  background-color: #37bc9b !important;
  border-color: #2fa084 #31a88b #31a88b !important;
}
.table-responsive.rounded {
  overflow: auto !important;
}
.table-middle tr th,
.table-middle tr td {
  vertical-align: middle !important;
}
.table-no-border tr td {
  border-top: none !important;
}
.table-theme thead tr th {
   background-color: #979797  !important;
   border-color: #a4a4a4 #a4a4a4 #858585 !important;
   color: #fff;
 }
.table-theme tbody tr td.sorting_1 {
    background: #a5e231 !important;
    color: white;
    border-bottom: 1px solid #b3e651 !important;
}
.table-theme tfoot tr th {
  background-color: #81b71a !important;
  border-color: #6b9816 #91cd1d #91cd1d !important;
  color: #fff;
}
.table-theme.table-bordered {
  border: 1px solid #81b71a;
}
.table-theme.table-bordered thead tr th:first-child,
.table-theme.table-bordered tfoot tr th:first-child,
.table-theme.table-bordered thead tr th:last-child,
.table-theme.table-bordered tfoot tr th:last-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.table-theme.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #b3e651 !important;
}
.table-theme table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-theme table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;

}
.tablebill {
    border-collapse:collapse;
    width: 100%;
    margin-top: 0px;
    font: helvetica;
    font-size: 11px;
    text-align: left;
}
.tablebill  th {
  vertical-align: middle;
  font-weight: 800;
  font-size: 13px;
  background-color:#000;
  color: #fff;
}
.tablebill  tr td{
  padding-left: 10px;
  vertical-align: middle;
  border-left: #000 1px solid collapse;
  border-top: #000 1px solid collapse;
  border-right: #000 1px solid collapse;
}
.tableorder{
  border-collapse:collapse;
    width: 100%;
    margin-top: 0px;
    font: helvetica;
    font-size: 11px;
    text-align: left;
    vertical-align: middle;
}
.tableorder tr td{
  text-align: center;
  height: 20px;
}
.tableorder th {
  vertical-align: middle;
  font-weight: 800;
  font-size: 13px;
  background-color:#000;
    color: #fff;
}
#headermail {
    position: fixed;
    left: 0px; top: 180px;
    right: 0px;
    height: 150px;
    color: #000;
    text-align: center;
}
.bi{
  position:absolute;
  border:0;
  margin:0;
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none
}
.t{
    position:absolute;
    transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    -webkit-transform-origin:0 100%;
    unicode-bidi:bidi-override;
    -moz-font-feature-settings:"liga" 0
  }
.t:after
{
  content:''
}
.t:before
{
    content:'';
    display:inline-block
}
.ta{
  border: #000 1px solid;
}
.tr td{
  height: 15px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}
.div-img{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 25%;
}

.pos-bootom{
  position: absolute;
  width: 300px;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #000;
  right: 27%;

}