<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-usd fa-4x"></i> REPORTE IINVENTARIO</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estaás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Reportes</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Inventario</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
        <div>
        {if $employees eq employees}
        	<form id="receiptReport" method="get">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">Fecha Inicial</label>                            
                             <input type="text" class="form-control input-sm" name="dateIn" placeholder="dd/M/yyyy" id="date" value="{$datIn}">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-2">
                        <label class="control-label">A la fecha:</label>                            
                             <input type="text" class="form-control input-sm" name="dateFin" placeholder="dd/M/yyyy" id="date2" value="{$datFin}">
                    </div><!-- /.form-group -->

                    <div class="form-group col-sm-2">
                        <label class="control-label">Marca</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="brand" name="brand" tabindex="2">
                            <option value="">Selecciona Producto</option>
                            {foreach key=key item=con from=$brand}
                            <option value="{$con.id_brand}" {if $brand eq $con.id_brand} selected {/if}>{$con.name_brand}</option>
                            {/foreach}                                   
                        </select>
                    </div>

                    <div class="form-group col-sm-2">
                        <label class="control-label">Planta</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="plant" name="plant" tabindex="2">
                            <option value="">Selecciona Producto</option>
                            {foreach key=key item=con from=$plant}
                            <option value="{$con.id_plant}" {if $plant eq $con.id_plant} selected {/if}>{$con.name_plant}</option>
                            {/foreach}                                   
                        </select>
                    </div>

                    <div class="form-group col-sm-2">
                        <label class="control-label">Clasificacion</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="clasification" name="clasification" tabindex="2">
                            <option value="">Selecciona Producto</option>
                            {foreach key=key item=con from=$clasification}
                            <option value="{$con.id_clasification}" {if $item eq $con.id_clasification} selected {/if}>{$con.name_clasification}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                </div> 
        		<div class="row">
                    <div class="form-group col-sm-3">
                        <label class="control-label">Cliente</label>                            
                        <select data-placeholder="Choose a Country" class="form-control chosen-select mb-15" id="customer" name="customer" tabindex="2">
                            <option value="">Selecciona Cliente</option>
                            {foreach key=key item=con from=$custom}
                                <option value="{$con.customer_code}" {if $customer eq $con.customer_code} selected {/if}>{$con.first_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Producto</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="item" name="item" tabindex="2">
                            <option value="">Selecciona Producto</option>
                            {foreach key=key item=con from=$items}
                            <option value="{$con.items_code}" {if $item eq $con.items_code} selected {/if}>{$con.item_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Bodega</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="whse" name="whse" tabindex="2">
                            <option value="">Selecciona Bodega</option>
                            {foreach key=key item=con from=$whse}
                            <option value="{$con.whse_code}" {if $whse_sel eq $con.whse_code} selected {/if}>{$con.whse_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                     <div class="form-group col-sm-3">
                       <!-- <a {if !empty($invList)}href="{base_url('reports/reporinvent/')}?dateIn={$datIn}&dateFin={$datFin}&customer={$customer}&item={$item}&whse={$whse_sel}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin-top:29px" target="_blank">Exportar PDF</a>-->
                        <input type="button" id="ToExcelInvent" class="btn btn-theme pull-right" value="Exportar Excel" style="margin-top:29px; margin-right: 10px"/>
                    </div>
                </div> 
            </form>
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcelInvent">
                <input type="hidden" id="tablaExcelInvent" name="table" />
                <input type="hidden" name="filename" value="Reporte_Inventario" />
            </form>
        </div>
        {/if}
            {if $employees eq customer}

            <input type="hidden" id="idUserCustom" name="idUserCustom" value="{$custoUser}" />
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcelInvent">
                <input type="hidden" id="tablaExcelInvent" name="table" />
                <input type="hidden" name="filename" value="Reporte_Inventario" />
            </form>
            <!-- <a {if !empty($invList)} href="{base_url('report- {s/reporinvent/')}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin:15px 20px;"  target="_blank">Exportar PDF</a>-->

            <input type="button" id="ToExcelInvent" class="btn btn-theme pull-right" value="Exportar Excel" style="margin:15px 20px;"/>
            {/if}
        </div>
        <!-- Start datatable using ajax -->
                <div>
                    <!-- Start datatable -->
                    <span>{$employees}</span>
                     <table id="datatableInvent" class="table table-striped table-theme text-center">
                        <thead>
                        <tr>
                            <th data-hide="phone" class="text-center">No. Ctrl</th> 
                            <th data-hide="phone" class="text-center">Fecha de Entrada</th> 
                            <th data-class="expand" class="text-center">Cliente</th>
                            <th data-hide="phone" class="text-center">Proveedor</th>
                            <th data-hide="phone" class="text-center">Producto</th>
                            <th data-hide="phone" class="text-center">Marca</th>
                            <th data-hide="phone" class="text-center">Lote</th> 
                            <th data-hide="phone" class="text-center">Fecha Produccion</th>
                            <th data-hide="phone" class="text-center">Fecha Expiración</th>   
                            <th data-hide="phone" class="text-center">KG/Bolsa</th>                         
                            <th data-hide="phone" class="text-center">Bags</th>
                            {if $employees neq customer} 
                            <th data-hide="phone" class="text-center">Ubicación</th>
                            <th data-hide="phone" class="text-center">Almacenamiento</th>
                            {/if}
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
