<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-right fa-4x"></i>ENTRADA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Entradas</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

                        <div id="success" class="alert alert-success animated fadeIn" style="display:none;">
                           
                        </div>
                        <div id="error" class="alert alert-danger animated fadeIn" style="display:none;">
                            <span class="alert-icon"><i class="fa fa-times"></i></span>
                            <strong>Error al enviar!</strong> verifique la dirección de correo electronico </a>.
                        </div>

        <!-- Start basic validation -->
            <div>
            	{foreach key=key item=con2 from=$receipt}
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                    <p class="h4"><b>No. Ctrl:</b><br>
                                     {$con2.reny_ctrl}</p>
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right" >
                                <div class="row">
                                    <div class="col-sm-12 text-right" style="font-size:16px;">
                                        {$con2.user}
                                    </div> 
                                </div> 
                                <div class="row">
                                    <div class="col-sm-12text-right" style="font-size:20px;">
                                        {if $con2.status == "nuevo actualizado"}
                                        	<span id="stat" class="label label-warning">{$con2.status}</span>
                                        {else}
                                        	<span id="stat" class="label label-primary">{$con2.status}</span>
                                        {/if}
                                    </div> 
                                </div> 
                            </div> 
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <p class="h4"><b>Fecha:</b><br>      
                                    {$date}
                                </p>
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$dateSyst}</span></div> 
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class=" control-label">Bodega<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="form-control mb-15" name="whse" tabindex="2" value="{$con2.whse_code}" readonly="true" disabled>
                                    <option value="">Selecciona Bodega</option>
                                    {foreach key=key item=con from=$whseOption}
                                        <option value="{$con.whse_code}"'{if $con.whse_code eq $con2.whse_code} selected {/if}'>{$con.whse_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Po. No.<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="po" value="{$con2.po_no}" readonly>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Cliente<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="customer" placeholder="" value="{$con2.first_name}" readonly>             
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Producto<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="item" placeholder="" value="{$con2.item_name}" readonly>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Proveedor<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="vendor" placeholder="" value="{$con2.name}" readonly>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Productor<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="producer" placeholder="" value="{$con2.name_producer}" readonly>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Marca<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="brand" placeholder="" value="{$con2.name_brand}" readonly>
                            </div><!-- /.form-group -->
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Planta<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="plant" placeholder="" value="{$con2.name_plant}" readonly>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Clasificacion<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="clasification" placeholder="" value="{$con2.name_clasification}" readonly>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Recibido</label>
                                <input type="text" class="form-control input-sm" name="received" placeholder="" value="{$con2.received}" readonly>
                            </div><!-- /.form-group -->
                        </div>
                         {/foreach}  
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-12">
                            <input type="hidden" id="numLots" value="{$numlots}">
                                <table id="datatable" class="table table-striped table-lilac">
                                    <tr>
                                        <td>Lote</td>
                                        <td>KG/Bolsa</td>
                                        <td style="width:0px;"></td>
                                        <td>Bags</td>
                                        <td>Prod Date</td>
                                        <td>Exp Date</td>
                                        <td>Damage</td>
                                        <td style="width:110px;">AMT Damage</td>
                                        <td>Location</td>
                                    </tr>
                                    {$i=0}
                                    {$x=0}
                                    {foreach key=key item=conLots from=$lots}
                                    {$i=$i+1}
                                    <tr id="{$conLots.lote_code}" class="{$i}">
                                    	<td style="display:none;">
                                            {$conLots.lote_code}
                                        </td>
                                        <td>
                                            <input type="text" name="lots[]" class="form-control" value="{$conLots.lot}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}'>
                                        </td>
                                        <td>
                                            <input type="number" name="pallets[]" id="pallets{$i}" class="form-control pallets{$i}" value="{$conLots.pallets}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}' min = '1'>
                                        </td> 
                                        <td style="width:0px">
                                            <input type="hidden" name="bags_pallets[]" id="bags_pallets" class="form-control bags_pallets{$i}" value="{$conLots.bags_pallets}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}' >
                                        </td>
                                        <td>
                                            <input type="number" name="bags[]" id="bags{$i}" class="form-control bags{$i}" value="{$conLots.bags_total}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}' min = '1'>
                                        </td>
                                        <td>
                                            <input type="date" name="prod_date[]" value="{$conLots.prod_date}" id="prod" class="form-control" '{if $con2.status eq "Recibido" and $role neq "Supervisor"}  disabled {/if}' >
                                        </td>
                                        <td>
                                            <input type="date" name="exp_date[]" value="{$conLots.exp_date}" id="exp" class="form-control" '{if $con2.status eq "Recibido" and $role neq "Supervisor"}  disabled {/if}' >
                                        </td>  
                                        <td class="text-center">
                                            <select class="form-control" name="damage[]" tabindex="2" id="damage{$i}" disabled >
                                                <option value="0" '{if $conLots.damage == "0"} selected="true" {/if}'>OK</option>
                                                <option value="1" '{if $conLots.damage == "1"} selected="true" {/if}'>Roto</option>
                                                <option value="2" '{if $conLots.damage == "2"} selected="true" {/if}'>Faltante</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="amtDamage[]" class="form-control" value="{$conLots.amtDamage}" readonly>
                                        </td>
                                        <td>
                                        <select class="form-control" name="whse_loc[]" tabindex="2" id="locat{$i}" style="width: 80px;" disabled>
                                        <option value="{$conLots.id_location}" selected>{$conLots.location}</option>
                                            {foreach key=key item=con from=$loc}
                                                <option value="{$con.id_location}"'{if $con.id_location eq $conLots.id_location} selected {/if}'>{$con.location}</option>
                                            {/foreach}                                   
                                        </select>
                                        </td>
                                    </tr>
                                     {$x=$x+1}
                                     {/foreach}
                                     <input type="hidden" name="index" class="" value="{$i}">
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Notas:</label>  <br>            
                                    {if isset($receipt['0']['notes'])}
                                        {$receipt['0']['notes']} 
                                    {/if}
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                             <div class="form-group col-sm-2">
                                <label class="control-label">Total KG/Bags:</label>
                                     <input type="text" class="form-control input-sm" id="total" placeholder="" disabled>
                                <label class="control-label">Total Bags:</label>
                                     <input type="text" class="form-control input-sm" id="totalBag" placeholder="" disabled>
                            </div><!-- /.form-group -->
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Imagenes:</label>
                                        <div>
                                            {$c = 0}
                                            {foreach key=key item=img from=$images}
                                            <div class="col-sm-2" id="{$img.id}">
                                                <a href="{$img.url}/{$img.name}" target="_blank">
                                                {if $extencion[$c] == 'image'}
                                                    <img src="{$img.url}/{$img.name}" width="100%">
                                                {elseif $extencion[$c] == 'pdf'}
                                                    <img src="{base_url('assets/global/img/pdf.png')}" width="100%">
                                                {elseif $extencion[$c] == 'doc'}
                                                    <img src="{base_url('assets/global/img/doc.png')}" width="100%">
                                                {elseif $extencion[$c] == 'xls'}
                                                    <img src="{base_url('assets/global/img/xls.png')}" width="100%">
                                                {/if}
                                                </a>
                                                <a href="{$img.url}/{$img.name}" target="_blank"> {$img.name}</a>
                                            </div>
                                            {$c = $c + 1}
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                        <div id="button" class="col-sm-offset-3">
                           {$submit}
                        </div>
                    </div><!-- /.form-footer -->
            </div>
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->