<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-right fa-4x"></i> REPORTE ENTRADAS</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Reportes</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Entrada</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
        <div>
         {if $employees eq employees}
        	<form id="receiptReport" action="{base_url('reports/searchReceipt')}" method="get" >
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">Fecha Inicial:</label>                            
                             <input type="text" class="form-control input-sm" name="dateIn" placeholder="dd/M/yyyy" id="date" value="">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-2">
                        <label class="control-label">A la fecha:</label>                            
                             <input type="text" class="form-control input-sm" name="dateFin" placeholder="dd/M/yyyy" id="date2" value="">
                    </div><!-- /.form-group -->
                </div>   
        		<div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">status</label>
                        <select data-placeholder="Choose a Country" class="form-control chosen-select mb-15" id="status" name="status" tabindex="2">
                            <option value=0 {if $status eq 0} selected {/if}>Selecciona status</option>
                            <option value=1 {if $status eq 1} selected {/if}>Nuevo</option>
                            <option value=2 {if $status eq 2} selected {/if}>Nuevo Actualizado</option>
                            <option value=3 {if $status eq 3} selected {/if}>Recibido</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Cliente</label>                            
                        <select data-placeholder="Choose a Country" class="form-control chosen-select mb-15" id="customer" name="customer" tabindex="2">
                            <option value=0>Selecciona Cliente</option>
                            {foreach key=key item=con from=$custom}
                                <option value="{$con.customer_code}" {if $customer eq $con.customer_code} selected {/if}>{$con.first_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Producto</label>
                        <select data-placeholder="Choose a Country" class="form-control chosen-select mb-15" id="item" name="item" tabindex="2">
                            <option value=0>Selecciona Producto</option>
                            {foreach key=key item=con from=$items}
                            <option value="{$con.items_code}" {if $item eq $con.items_code} selected {/if}>{$con.item_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                       <!-- <a id="exportar" class="btn btn-theme pull-right" style="margin-top:29px"  target="_blank">Exportar Reporte</a>-->
                       <input type="button" id="ToExcelReceipt" class="btn btn-theme pull-right" value="Exportar Excel" style="margin-top:29px; margin-right: 10px"/>
                    </div>
                </div> 
            </form>
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcelReceipt">
                <input type="hidden" id="tablaExcelReceipt" name="table" />
                <input type="hidden" name="filename" value="Reporte_Entradas" />
            </form>
        </div>
        {/if}
            {if $employees eq customer}
            
                <input type="hidden" id="idUserCustom" name="idUserCustom" value="{$custoUser}" />
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcelReceipt">
                <input type="hidden" id="tablaExcelReceipt" name="table" />
                <input type="hidden" name="filename" value="Reporte_Entradas" />
            </form>
            <!--<a {if !empty($list_receipts)} href="{base_url('reports/selectReceipt/')}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin:15px 20px;"  target="_blank" id="exportar">Exportar PDF</a>-->
            <input type="button" id="ToExcelReceipt" class="btn btn-theme pull-right" value="Exportar Excel" style="margin:15px 20px;"/>
            {/if}
        </div>
        <!-- Start datatable using ajax -->
                <div>
                    <!-- Start datatable -->
                     <table id="datatable" class="table table-striped table-theme">
                        <thead>
                        <tr> 
                            <th class="text-center" data-class="expand">No. Ctrl</th> 
                            <th class="text-center" data-hide="phone">Estatus</th>    
                            <th class="text-center" data-hide="phone">Fecha Registro</th>
                            <th class="text-center" data-hide="phone">Fecha Entrada</th>
                            <th class="text-center" data-hide="phone">Po. No.</th>
                            <th class="text-center" data-hide="phone">Cliente</th>
                            <th class="text-center" data-hide="phone">Producto</th>
                            <th class="text-center" data-hide="phone">Proveedor</th>
                            <th class="text-center" data-hide="phone">Lote</th>
                            <th class="text-center" data-hide="phone">KG/Bolsa</th>
                            <th class="text-center" data-hide="phone">bags</th>

                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody class="text-center">
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
