<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-left fa-4x"></i> REPORTE SALIDAS</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estaás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Reportes</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Salidas</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
         {if $employees eq employees}
        <div>
        	<form id="receiptReport" action="{base_url('reports/searchShipRep')}" method="get">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">Fecha Inicial</label>                            
                             <input type="text" class="form-control input-sm" name="dateIn" placeholder="dd/M/yyyy" id="date" value="{$datIn}">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-2">
                        <label class="control-label">A la fecha:</label>                            
                             <input type="text" class="form-control input-sm" name="dateFin" placeholder="dd/M/yyyy" id="date2" value="{$datFin}">
                    </div><!-- /.form-group -->
                </div> 
        		<div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">status</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="status" name="status" tabindex="2">
                            <option value=0 {if $status eq 0} selected {/if}>Selecciona status</option>
                            <option value=1 {if $status eq 1} selected {/if}>Nuevo</option>
                            <option value=2 {if $status eq 2} selected {/if}>Listo</option>
                            <option value=3 {if $status eq 3} selected {/if}>listo modificado</option>
                            <option value=4 {if $status eq 4} selected {/if}>Terminado</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Cliente</label>                            
                        <select data-placeholder="Choose a Country" class="form-control chosen-select mb-15" id="customer" name="customer" tabindex="2">
                            <option value=0>Selecciona Cliente</option>
                            {foreach key=key item=con from=$custom}
                                <option value="{$con.customer_code}" {if $customer eq $con.customer_code} selected {/if}>{$con.first_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Producto</label>
                        <select data-placeholder="Choose a Country" class="form-control  chosen-select mb-15" id="item" name="item" tabindex="2">
                            <option value=0>Selecciona Producto</option>
                            {foreach key=key item=con from=$items}
                            <option value="{$con.items_code}" {if $item eq $con.items_code} selected {/if}>{$con.item_name}</option>
                            {/foreach}                                   
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                       <!-- <a {if !empty($shipList)}href="{base_url('reports/ReporShip/')}?dateIn={$datIn}&dateFin={$datFin}&customer={$customer}&item={$item}&status={$status}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin-top:29px" target="_blank">Exportar PDF</a>-->
                        <input type="button" id="ToExcelShip" class="btn btn-theme pull-right" value="Exportar Excel" style="margin-top:29px; margin-right: 10px"/>
                    </div>
                </div> 
            </form>
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcelShip">
                <input type="hidden" id="tablaExcelShip" name="table" />
                <input type="hidden" name="filename" value="Reporte_Salidas" />
            </form>
        </div>
        {/if}
            {if $employees eq customer}
            
                <input type="hidden" id="idUserCustom" name="idUserCustom" value="{$custoUser}" />
            <form action="{base_url('reports/exporExcel')}" method="post" target="_blank" id="exportExcelShip">
                <input type="hidden" id="tablaExcelShip" name="table" />
                <input type="hidden" name="filename" value="Reporte_Salidas" />
            </form>
            <!--<a {if !empty($shipList)} href="{base_url('reports/ReporShip/')}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin:15px 20px;"  target="_blank">Exportar PDF</a>-->

            <input type="button" id="ToExcelShip" class="btn btn-theme pull-right m-r-2" value="Exportar Excel" style="margin:15px 20px;"/>
            {/if}
                <div>
                <table id="datatableShip" class="table table-striped table-theme">
                        <thead>
                        <tr> 
                        	<th data-class="expand">No. de Salida</th>
		                    <th data-hide="phone">Estatus</th>     
		                    <th data-hide="phone">Fecha Registro</th>
		                    <th data-hide="phone">Fecha Salida</th>
		                    <th data-hide="phone">Carrier</th>
		                    <th data-hide="phone">Trailer</th>
		                    <th data-hide="phone">Factura</th>
		                    <th data-hide="phone">No. Ctrl</th>
		                    <th data-hide="phone">Cliente</th>
		                    <th data-hide="phone">Producto</th>
		                    <th data-hide="phone">Lote</th>
		                    <th data-hide="phone">KG/Bolsa</th>
		                    <th data-hide="phone">Bags</th>
                            {if $employees neq customer} 
		                    <th data-hide="phone">storage</th>
                            {/if}
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody class="text-center">
                        </tbody>
                    </table>
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
</div>
