<!-- Start page header -->
<script type="text/javascript">
    function checkSubmit() {
        document.getElementById("SaveBtn").value = "Enviando...";
        document.getElementById("SaveBtn").disabled = true;
        return true;
    }
</script>
<div class="header-content">
    <h2><i class="fa fa-arrow-right fa-4x"></i>ENTRADA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Entradas</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

        <!-- Start basic validation -->
            <div class="panel-body">
            		{foreach key=key item=con2 from=$receipt}
                    {$renyCtrl=$con2.reny_ctrl}
                <form class="form-horizontal" role="form" id="receipt" action="{base_url('receipts/up_receipts')}/{$con2.reny_ctrl}" method="post"  onsubmit="return checkSubmit();">
                   
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                    <label class="control-label">reny Ctrl<span class="asterisk">*</span></label>
                                    <input type="text" class="form-control input-sm" name="receipt_reny" value="{$con2.reny_ctrl}" readonly="true" >
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right" style="font-size:22px;">
                            	<span class="label label-success">{$con2.status}</span>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Fecha<span class="asterisk">*</span></label>                            
                                     <input type="text" class="form-control input-sm" name="date" id="date_rec" value="{$date}" readonly="true">
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$dateSyst}</span></div> 
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class=" control-label">Bodega<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="whse" tabindex="2" value="{$con2.whse_code}">
                                    <option value="">Selecciona Bodega</option>
                                    {foreach key=key item=con from=$whseOption}
                                        <option value="{$con.whse_code}"'{if $con.whse_code eq $con2.whse_code} selected {/if}'>{$con.whse_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$con2.id_appointment}</div> 
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Po. No.<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="po" value="{$con2.po_no}">
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Cliente<span class="asterisk">*</span></label>                            
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="customer" tabindex="2" value="{$con2.customer_code}">
                                    <option value="">Selecciona Cliente</option>
                                    {foreach key=key item=con from=$custom}
                                        <option value="{$con.customer_code}"'{if $con.customer_code eq $con2.customer_code} selected {/if}'>{$con.first_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Producto<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="item" tabindex="2" value="{$con2.item_code}">
                                    <option value="">Selecciona Producto</option>
                                    {foreach key=key item=con from=$items}
                                        <option value="{$con.items_code}"'{if $con.items_code eq $con2.items_code} selected {/if}'>{$con.item_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Proveedor<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="vendor" tabindex="2" >
                                    <option value="">Selecciona Proveedor</option>
                                    {foreach key=key item=con from=$vendor}
                                        <option value="{$con.vendor_code}"'{if $con.vendor_code eq $con2.vendor_code} selected {/if}'>{$con.name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Productor<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="producer" tabindex="2">
                                    <option value="">Selecciona Productor</option>
                                    {foreach key=key item=con from=$producer}
                                        <option value="{$con.id_producer}"'{if $con.id_producer eq $con2.id_producer} selected {/if}'>{$con.name_producer}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Marca<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="brand" tabindex="2">
                                    <option value="">Selecciona la Marca</option>
                                    {foreach key=key item=con from=$brand}
                                        <option value="{$con.id_brand}"'{if $con.id_brand eq $con2.id_brand} selected {/if}'>{$con.name_brand}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Planta<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="plant" tabindex="2">
                                    <option value="">Selecciona una Planta</option>
                                    {foreach key=key item=con from=$plant}
                                        <option value="{$con.id_plant}"'{if $con.id_plant eq $con2.id_plant} selected {/if}'>{$con.name_plant}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Clasificacion<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="clasification" tabindex="2">
                                    <option value="">Clasificación</option>
                                    {foreach key=key item=con from=$clasification}
                                        <option value="{$con.id_clasification}"'{if $con.id_clasification eq $con2.id_clasification} selected {/if}'>{$con.name_clasification}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Recibido</label>
                                <input type="text" class="form-control input-sm" name="received" placeholder="" value="{$con2.received}">
                            </div><!-- /.form-group -->
                        </div>
                         {/foreach}  
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-12">
                            <input type="hidden" id="numLots" value="0">
                                <table id="datatable" class="table table-striped table-lilac">
                                    <tr>
                                        <td>Lote</td>
                                        <td>KG/Bolsa</td>
                                        <td style="width:0px;"></td>
                                        <td>Bags</td>
                                        <td>Prod Date</td>
                                        <td>Exp Date</td>
                                        <td>Damage</td>
                                        <td>AMT Damage</td>
                                        <td>Location</td>
                                    </tr>
                                </table>
                                <button type="button" class="btn btn-theme pull-right" id="addLots">Agregar Lote</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Notas:</label>              
                                     <textarea class="form-control" rows="5" name="notes">{if isset($receipt['0']['notes'])} {$receipt['0']['notes']} {/if}</textarea>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                             <div class="form-group col-sm-2">
                                <label class="control-label">Total KG/Bags:<span class="asterisk">*</span></label>              
                                     <input type="text" class="form-control input-sm" id="total" placeholder="">
                                <label class="control-label">Total Bags:<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" id="totalBag" placeholder="">
                            </div><!-- /.form-group -->
                            <div class="col-sm-10 pull-right">
                                <label class="control-label">Cargar Imagenes</label> 
                                <div  id="my-dropzone" action="{base_url('receipts/images')}/{{$renyCtrl}}" class="col-sm-12 dropzone pull-right">
                                    <div class="fallback">
                                        <input name="img" type="file" multiple />
                                    </div>
                                </div><!-- /.panel-body -->
                            </div>
                        
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <input type="submit" class="btn btn-theme" id="SaveBtn" value="Guardar">
                        </div>
                    </div><!-- /.form-footer -->
                </form>
            </div>
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->
 <div class="modal fade bs-example-modal-lg" id="bagsPallet">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Bags Por Pallets</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-bordered" id="bagsP" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                    Introduce la cantidad de bolsas por Pallets
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control input-sm" name="bagsPall" id="bagPallets" value="0">
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                                <div class="form-footer">
                                    <div class="col-sm-offset-3">
                                        <button type="button" class="btn btn-theme" id="acept">Aceptar</button>
                                    </div>
                                </div><!-- /.form-footer -->
                            </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->