<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-right fa-4x"></i>ENTRADA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Entradas</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Nuevo Entrada</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

        <!-- Start basic validation -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                </div><!-- /.pull-left -->
                <div class="pull-right">
                    <a href="{base_url('receipts/searchReceipt')}" class="btn btn-sm" data-action="back" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Regresar a Entradas"><i class="fa fa-arrow-left fa-2x"></i><span class="lead">Regresar</span></a>
                </div><!-- /.pull-right -->
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="form-horizontal" role="form" id="receipt" action="{base_url('receipts/reg_receipts')}" method="post" onsubmit="return checkSubmit();">
                            
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                    <label class="control-label">No. Ctrl<span class="asterisk">*</span></label>
                                    <input type="text" id="reny_ctrlnew" class="form-control input-sm date_rec" name="receipt_reny" placeholder="" value="{$renyCtrl}">
                                    <span id="errorDuplicado"></span>
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right" >
                                <div class="row">
                                    <div class="col-sm-12 text-right" style="font-size:16px;">
                                        {$username}
                                    </div> 
                                </div> 
                                <div class="row">
                                        <div class="col-sm-12text-right" style="font-size:22px;"><span class="label label-success">NUEVO</span></div> 
                                </div> 
                            </div> 
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Fecha<span class="asterisk">*</span></label>                            
                                     <input type="text" class="form-control input-sm" name="date" id="date" value="{$dat}">
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$dateSyst}</span></div> 
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class=" control-label">Bodega<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="form-control mb-15" name="whse" tabindex="2">
                                    <option value="">Selecciona Bodega</option>
                                    {foreach key=key item=con from=$whseOption}
                                        <option value="{$con.whse_code}">{$con.whse_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>Cita No: {$appointment}</div> 
                            <input type="hidden" class="" name="appoint" placeholder="" value="{$appointment}">
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Po. No.<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="po" placeholder="" value="{$po}">
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Cliente<span class="asterisk">*</span></label>                            
                                <select class="form-control mb-15" name="customer" tabindex="2">
                                    <option value="">Selecciona Cliente</option>
                                    {foreach key=key item=con from=$custom}
                                        <option value="{$con.customer_code}"'{if $con.customer_code eq $customer} selected {/if}'>{$con.first_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Producto<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="item" tabindex="2">
                                    <option value="">Selecciona Producto</option>
                                    {foreach key=key item=con from=$items}
                                        <option value="{$con.items_code}">{$con.item_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Proveedor<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="vendor" tabindex="2">
                                    <option value="">Selecciona Proveedor</option>
                                    {foreach key=key item=con from=$vendor}
                                        <option value="{$con.vendor_code}"'{if $con.vendor_code eq $vend} selected {/if}'>{$con.name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Productor<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="producer" tabindex="2">
                                    <option value="">Selecciona Productor</option>
                                    {foreach key=key item=con from=$producer}
                                        <option value="{$con.id_producer}">{$con.name_producer}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Marca<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="brand" tabindex="2">
                                    <option value="">Selecciona Proveedor</option>
                                    {foreach key=key item=con from=$brand}
                                        <option value="{$con.id_brand}">{$con.name_brand}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Planta<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="plant" tabindex="2">
                                    <option value="">Selecciona una Planta</option>
                                    {foreach key=key item=con from=$plant}
                                        <option value="{$con.id_plant}">{$con.name_plant}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Clasificación<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="clasification" tabindex="2">
                                    <option value="">Clasificación</option>
                                    {foreach key=key item=con from=$clasification}
                                        <option value="{$con.id_clasification}">{$con.name_clasification}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Recibido</label>
                                <input type="text" class="form-control input-sm" name="received" placeholder="" value="">
                            </div><!-- /.form-group -->
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <table id="datatable-dom" class="table table-striped table-lilac">
                                    <tr>
                                        <td>Lote</td>
                                        <td>KG/Bolsa</td>
                                        <td style="width:0px;"></td>
                                        <td>Bags</td>
                                        <td>Prod Date</td>
                                        <td>Exp Date</td>
                                        <td>Damage</td>
                                        <td>AMT Damage</td>
                                        <td>Location</td>
                                    </tr>
                                    <!-- /<tr>
                                        <td>
                                            <input type="text" name="lots[]" placeholder="Lote" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" name="pallets[]" placeholder="Pallets" id="pallets" class="form-control">
                                        </td> 
                                        <td style="width:0px">
                                            <input type="hidden" name="bags_pallets[]" id="bags_pallets" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" name="bags[]" placeholder="Bags" id="bags" class="form-control" readonly>
                                        </td>
                                        <td>
                                            <input type="date" name="prod_date[]" placeholder="Prod. Date" id="prod" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" name="exp_date[]" placeholder="Exp. Date" id="exp" class="form-control">
                                        </td>  
                                        <td class="text-center">
                                            <div class="ckbox ckbox-theme">
                                                <input id="damage" class="checkbox" type="checkbox" name="damage[]" value="1">
                                                <label for="damage"></label>
                                            </div>
                                        </td>
                                        <td><input type="text" class="form-control" name="receipt_loc" placeholder="" class="form-control input-sm"></td>
                                    </tr> --> 
                                </table>
                                <button type="button" class="btn btn-theme pull-right" id="addLots" disabled="true">Agregar Lote</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Notas:<span class="asterisk">*</span></label>              
                                     <textarea class="form-control" rows="5" name="notes"></textarea>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                             <div class="form-group col-sm-2">
                                <label class="control-label">Total KG/Bags:<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" id="total" placeholder="">
                                <label class="control-label">Total Bags:<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" id="totalBag" placeholder="">
                            </div><!-- /.form-group -->
                            <div class="col-sm-10 pull-right">
                                <label class="control-label">Cargar Imagenes</label> 
                                <div id="my-dropzone" action="{base_url('receipts/images')}/{{$renyCtrl}}" class="col-sm-12 dropzone dz-clickable pull-right">
                                    <div class="fallback">
                                        <input name="img" type="file" multiple />
                                    </div>
                                </div><!-- /.panel-body -->
                              </div>
                        
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button type="submit" id="SaveBtn" class="btn btn-theme" >Guardar</button>
                        </div>
                    </div><!-- /.form-footer -->
                </form>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->
 <div class="modal fade bs-example-modal-lg" id="bagsPallet">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Bags Por Pallets</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-bordered" id="bagsP" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                    Introduce la cantidad de bolsas por Pallets
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control input-sm" name="bagsPall" id="bagPallets" value="0">
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                                <div class="form-footer">
                                    <div class="col-sm-offset-3">
                                        <button type="button" class="btn btn-theme" id="acept">Aceptar</button>
                                    </div>
                                </div><!-- /.form-footer -->
                            </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->