<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-arrow-right fa-4x"></i> ENTRADAS</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Entradas</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Buscar Entrada</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row">
        <div class="col-md-12">
        <!-- Start datatable using ajax -->
                <div>
                    <!-- Start datatable -->
                     <table id="datatable-dom" class="table table-striped table-theme" >
                        <thead>
                        <tr> 
                            <th data-class="expand" style="max-width: 20px">No. Ctrl</th> 
                            <th data-hide="phone,tablet" style="max-width: 20px">Estatus</th>    
                            <th data-hide="phone,tablet">Fecha Registro</th>
                            <th data-hide="phone,tablet">Fecha Entrada</th>
                            <th data-hide="phone,tablet">Po. No.</th>
                            <th data-hide="phone,tablet">Cliente</th>
                            <th data-hide="phone,tablet">Producto</th>
                            <th data-hide="phone,tablet">Proveedor</th>
                            <th data-hide="phone,tablet" style="max-width: 20px">HT</th>
                            <th data-hide="phone,tablet" style="max-width: 30px">Etiquetas</th>
                            <th data-hide="phone,tablet">Opciones</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody>
                        {$i=0}
                        {foreach key=key item=con from=$list_receipts}
                            <tr id="{$con.reny_ctrl}">
                                <td class="text-center">{$renyC[$i]}</td>
                                {if $con.status == "nuevo"}
                                <td style="font-size:16px; text-align:center;"><span class="label label-success">{$con.status}</span></td>
                                {elseif $con.status eq "nuevo actualizado"}
                                <td style="font-size:16px; text-align:center;"><span class="label label-warning">{$con.status}</span></td>
                                {else}
                                <td style="font-size:16px; text-align:center;"><span class="label label-primary">{$con.status}</span></td>
                                {/if}
                                <td>{$dateS[$i]}</td>
                                <td>{$date[$i]}</td>
                                <td class="text-center">{$con.po_no}</span></td>
                                <td>{$con.first_name}</td>
                                <td>{$con.item_name}</td>
                                <td>{$con.name}</td>
                                <td>{$con.ht}</td>
                                <td>{$con.tags}</td>                                
                                <td class="text-center">
                                {if $con.status == "Recibido"}
                                    <a href="select_lotsReceipts/{$con.reny_ctrl}" class="btn btn-sm btn-success btn-xs btn-push btn-view"><i class="fa fa-eye"></i> Ver Más</a>
                                {elseif $con.status == "nuevo"}
                                    <a href="load_updateRecipt/{$con.reny_ctrl}" class="btn btn-sm btn-primary btn-xs btn-push"><i class="fa fa-pencil">&nbsp;</i>&nbsp; Editar &nbsp;</a>
                                {elseif $con.status == "nuevo actualizado"}
                                    <a href="select_lotsReceipts/{$con.reny_ctrl}" class="btn btn-sm btn-primary btn-xs btn-push"><i class="fa fa-pencil">&nbsp;</i>&nbsp; Editar &nbsp;</a>
                                {/if}
                                    <a id="{$con.reny_ctrl}" class="btn btn-sm btn-danger btn-xs btn-push delRec"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                            {$i=$i+1}
                        {/foreach}  
                        </tbody>
                    </table>
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>
    </div>
    <div class="row">
        <div class="row">
        <div class="col-md-12">
        <div class="callout callout-info mb-20">
            <br>
            <strong>Ingresa en el cuadro de busqueda el No. de control de la entrada que deseas consultar</strong>
        </div>
        {*if $employees eq employees*}
        <div class="row">
            <div class="col-sm-4 pull-left">
                <form id="receiptReport" class="navbar-form" action="{base_url('receipts/search_recreny')}" method="post" >
                    <div class="form-group has-feedback">
                        <label class="control-label">reny Ctrl.:</label>
                        <input placeholder="Buscar Entrada" name="buscarrenyCtrl" class="form-control" type="text">
                        <button type="submit" class="btn btn-theme fa fa-search form-control-feedback rounded"></button>
                    </div>
                </form>
            </div>
        </div>
            {*/if*}
             {if isset($list_receipts[0]["sigo_ctrl"])}
        <!-- Start datatable using ajax -->
                <div id="table">
                    <!-- Start datatable -->
                     <table id="datatabletrx" class="table table-theme">
                        <thead>
                        <tr> 
                            <th class="text-center" data-class="expand">RT</th> 
                            <th class="text-center" data-hide="phone">PO</th>
                            <th class="text-center" data-hide="phone">Fecha</th>
                            <th class="text-center" data-hide="phone">Usuario</th>
                            <th class="text-center" data-hide="phone">Producto</th>
                            <th class="text-center" data-hide="phone">QTY</th> 
                            <th class="text-center" data-hide="phone">Lote</th>
                            <th class="text-center" data-hide="phone">KG/Bolsa</th>    
                            <th class="text-center" data-hide="phone">F.Caducidad</th>    
                            <th class="text-center" data-hide="phone">storage</th>    
                            <th class="text-center" data-hide="phone">Estatus</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody class="text-center">
                        {$i=0}
                        {foreach key=key item=con from=$list_receipts}
                            <tr id="{$con.sigo_ctrl}">
                                <td class="text-center">{$con.sigo_ctrl}</td>
                                <td class="text-center">{$con.po_no}</span></td>
                                <td>{$date[$i]}</td>
                                <td>{$con.user}</td>
                                <td>{$con.item_name}</td>
                                <td>{$con.bags_total}</td> 
                                <td>{$con.lot}</td>
                                <td>{$con.pallets}</td>
                                <td>{$con.exp_date}</td> 
                                <td></td>
                                <td>{$con.status}</td>      
                            </tr>
                        <tr class="text-center">
                               <td style="background-color: #DFEEF8">{$con.no_shipment}</td>
                               <td style="background-color: #DFEEF8"></td>
                               <td style="background-color: #DFEEF8">{$con.system_dateShip}</td>
                               <td style="background-color: #DFEEF8"></td>
                               <td style="background-color: #DFEEF8">{$con.item_name}</td>
                               <td style="background-color: #DFEEF8">{$con.bags_totalShip}</td>
                               <td style="background-color: #DFEEF8">{$con.lot}</td>
                               <td style="background-color: #DFEEF8">{$con.palletsShip}</td>
                               <td style="background-color: #DFEEF8"></td>
                               <td style="background-color: #DFEEF8">{$con.storage}</td>
                               <td style="background-color: #DFEEF8">{$con.statusShip}</td>
                         </tr> 
                            {$i=$i+1}
                        {/foreach} 
                        </tbody>
                    </table>
                    {/if}
                    <!--/ End datatable -->
                </div><!-- /.panel-body -->
            <!--/ End datatable using ajax -->
        </div>

         {if $employees eq customer}
         <div class="form-group col-sm-3">
                        <a {if !empty($list_receipts)}href="{base_url('reports/selectReceipt/')}" {else}onclick="alert('No hay reporte que Generar')"{/if} class="btn btn-theme pull-right" style="margin-top:29px" target="_blank">Exportar Reporte</a>
                    </div>
         {/if}
    </div>
    </div>
</div>
<!--MODAL VER-->
        <div class="modal fade bs-example-modal-lg" id="">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <iframe src=""></iframe>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
