<!-- Start page header -->
        <script type="text/javascript">
    function checkSubmit() {
        document.getElementById("SaveBtn").value = "Enviando...";
        document.getElementById("SaveBtn").disabled = true;
        return true;
    }
</script>
<div class="header-content">
    <h2><i class="fa fa-arrow-right fa-4x"></i>ENTRADA</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{base_url('dashboard')}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Transacciones</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Entradas</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="row">
    <div class="col-md-12">

                        <div id="success" class="alert alert-success animated fadeIn" style="display:none;">
                           
                        </div>
                        <div id="error" class="alert alert-danger animated fadeIn" style="display:none;">
                            <span class="alert-icon"><i class="fa fa-times"></i></span>
                            <strong>Error al enviar!</strong> verifique la dirección de correo electronico </a>.
                        </div>

        <!-- Start basic validation -->
            <div>
            	{foreach key=key item=con2 from=$receipt}
                <form class="form-horizontal" role="form" id="receipt"  method="post"  onsubmit="return checkSubmit();">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                    <label class="control-label">reny Ctrl<span class="asterisk">*</span></label>
                                    <input type="text" class="form-control input-sm" name="receipt_reny" value="{$con2.reny_ctrl}" readonly="true" >
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right" >
                                <div class="row">
                                    <div class="col-sm-12 text-right" style="font-size:16px;">
                                        {$con2.user}
                                    </div> 
                                </div> 
                                <div class="row">
                                    <div class="col-sm-12text-right" style="font-size:20px;">
                                        {if $con2.status == "nuevo actualizado"}
                                        	<span id="stat" class="label label-warning">{$con2.status}</span>
                                        {else}
                                        	<span id="stat" class="label label-primary">{$con2.status}</span>
                                        {/if}
                                    </div> 
                                </div> 
                            </div> 
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Fecha<span class="asterisk">*</span></label>                            
                                     <input type="text" class="form-control input-sm" name="date" id="date_rec" value="{$date}" readonly="true">
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$dateSyst}</span></div> 
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class=" control-label">Bodega<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="whse" tabindex="2" value="{$con2.whse_code}">
                                    <option value="">Selecciona Bodega</option>
                                    {foreach key=key item=con from=$whseOption}
                                        <option value="{$con.whse_code}"'{if $con.whse_code eq $con2.whse_code} selected {/if}'>{$con.whse_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="col-sm-6 text-right"  style="font-size:22px;"><span>{$con2.id_appointment}</div> 
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Po. No.<span class="asterisk">*</span></label>
                                <input type="text" class="form-control input-sm" name="po" value="{$con2.po_no}">
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Cliente<span class="asterisk">*</span></label>                            
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="customer" tabindex="2" value="{$con2.customer_code}">
                                    <option value="">Selecciona Cliente</option>
                                    {foreach key=key item=con from=$custom}
                                        <option value="{$con.customer_code}"'{if $con.customer_code eq $con2.customer_code} selected {/if}'>{$con.first_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Producto<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="item" tabindex="2" value="{$con2.item_code}">
                                    <option value="">Selecciona Producto</option>
                                    {foreach key=key item=con from=$items}
                                        <option value="{$con.items_code}"'{if $con.items_code eq $con2.items_code} selected {/if}'>{$con.item_name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class=" control-label">Proveedor<span class="asterisk">*</span></label>
                                <select data-placeholder="Choose a Country" class="chosen-select mb-15" name="vendor" tabindex="2" >
                                    <option value="">Selecciona Proveedor</option>
                                    {foreach key=key item=con from=$vendor}
                                        <option value="{$con.vendor_code}"'{if $con.vendor_code eq $con2.vendor_code} selected {/if}'>{$con.name}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Productor<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="producer" tabindex="2">
                                    <option value="">Selecciona Productor</option>
                                    {foreach key=key item=con from=$producer}
                                        <option value="{$con.id_producer}"'{if $con.id_producer eq $con2.id_producer} selected {/if}'>{$con.name_producer}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Marca<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="brand" tabindex="2">
                                    <option value="">Selecciona la Marca</option>
                                    {foreach key=key item=con from=$brand}
                                        <option value="{$con.id_brand}"'{if $con.id_brand eq $con2.id_brand} selected {/if}'>{$con.name_brand}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>    
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Planta<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="plant" tabindex="2">
                                    <option value="">Selecciona una Planta</option>
                                    {foreach key=key item=con from=$plant}
                                        <option value="{$con.id_plant}"'{if $con.id_plant eq $con2.id_plant} selected {/if}'>{$con.name_plant}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Clasificacion<span class="asterisk">*</span></label>
                                <select class="form-control  mb-15" name="clasification" tabindex="2">
                                    <option value="">Clasificación</option>
                                    {foreach key=key item=con from=$clasification}
                                        <option value="{$con.id_clasification}"'{if $con.id_clasification eq $con2.id_clasification} selected {/if}'>{$con.name_clasification}</option>
                                    {/foreach}                                   
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group col-sm-4">
                                <label class="control-label">Recibido</label>
                                <input type="text" class="form-control input-sm" name="received" placeholder="" value="{$con2.received}">
                            </div><!-- /.form-group -->
                        </div>
                         {/foreach}  
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-12">
                            <input type="hidden" id="numLots" value="{$numlots}">
                                <table id="datatable" class="table table-striped table-lilac">
                                    <tr>
                                        <td>Lote</td>
                                        <td>KG/Bolsa</td>
                                        <td style="width:0px;"></td>
                                        <td>Bags</td>
                                        <td>Prod Date</td>
                                        <td>Exp Date</td>
                                        <td>Damage</td>
                                        <td>AMT Damage</td>
                                        <td>Location</td>
                                        <td>acción</td>
                                    </tr>
                                    {$i=0}
                                    {$x=0}
                                    {foreach key=key item=conLots from=$lots}
                                    {$i=$i+1}
                                    <tr id="{$conLots.lote_code}" class="{$i}">
                                    	<td style="display:none;">
                                            <input type="text" name="idLots[]" class="form-control" value="{$conLots.lote_code}">
                                        </td>
                                        <td>
                                            <input type="text" name="lots[]" class="form-control" value="{$conLots.lot}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}'>
                                        </td>
                                        <td>
                                            <input type="number" name="pallets[]" id="pallets{$i}" class="form-control pallets{$i}" value="{$conLots.pallets}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}' min = '1'>
                                        </td> 
                                        <td style="width:0px">
                                            <input type="hidden" name="bags_pallets[]" id="bags_pallets" class="form-control bags_pallets{$i}" value="{$conLots.bags_pallets}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}' >
                                        </td>
                                        <td>
                                            <input type="number" name="bags[]" id="bags{$i}" class="form-control bags{$i}" value="{$conLots.bags_total}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}' min = '1'>
                                        </td>
                                        <td>
                                            <input type="date" name="prod_date[]" value="{$conLots.prod_date}" id="prod" class="form-control" '{if $con2.status eq "Recibido" and $role neq "Supervisor"}  disabled {/if}' >
                                        </td>
                                        <td>
                                            <input type="date" name="exp_date[]" value="{$conLots.exp_date}" id="exp" class="form-control" '{if $con2.status eq "Recibido" and $role neq "Supervisor"}  disabled {/if}' >
                                        </td>  
                                        <td class="text-center">
                                            <select class="form-control" name="damage[]" tabindex="2" id="damage{$i}" style="width: 80px;"  '{if $con2.status eq "Recibido" and $role neq "Supervisor"}  disabled {/if}' >
                                                <option value="0" '{if $conLots.damage == "0"} selected="true" {/if}'>OK</option>
                                                <option value="1" '{if $conLots.damage == "1"} selected="true" {/if}'>Roto</option>
                                                <option value="2" '{if $conLots.damage == "2"} selected="true" {/if}'>Faltante</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" name="amtDamage[]" class="form-control" value="{$conLots.amtDamage}" '{if $con2.status eq "Recibido" and $role neq "Supervisor"} readonly {/if}'>
                                        </td>
                                        <td>
                                        <select class="form-control" name="whse_loc[]" tabindex="2" id="locat{$i}" style="width: 80px;"  '{if $con2.status eq "Recibido" and $role neq "Supervisor"}  disabled {/if}' >
                                        <option value="{$conLots.id_location}" selected>{$conLots.location}</option>
                                            {foreach key=key item=con from=$loc}
                                                <option value="{$con.id_location}"'{if $con.id_location eq $conLots.id_location} selected {/if}'>{$con.location}</option>
                                            {/foreach}                                   
                                        </select>
                                        </td>
                                        <td class="text-center">
                                            <a id="{$conLots.lote_code}" class="btn btn-danger btn-xs delLot" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                     {$x=$x+1}
                                     {/foreach}
                                     <input type="hidden" name="index" class="" value="{$i}">
                                </table>
                                    <button type="button" class="btn btn-theme pull-right" id="addLots" '{if $con2.status eq "Recibido"} disabled {/if}'>Agregar Lote</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Notas:</label>              
                                    <textarea class="form-control" rows="5" name="notes">{if isset($receipt['0']['notes'])} {$receipt['0']['notes']} {/if}</textarea>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                             <div class="form-group col-sm-2">
                                <label class="control-label">Total KG/Bags:<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" id="total" placeholder="">
                                <label class="control-label">Total Bags:<span class="asterisk">*</span></label>                     
                                     <input type="text" class="form-control input-sm" id="totalBag" placeholder="">
                            </div><!-- /.form-group -->
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Imagenes</label>
                                        <div>
                                            {$c = 0}
                                            {foreach key=key item=img from=$images}
                                            <div class="col-sm-4" id="{$img.id}">
                                                {if $extencion[$c] == 'image'}
                                                    <img src="{$img.url}/{$img.name}" width="100%">
                                                {elseif $extencion[$c] == 'pdf'}
                                                    <img src="{base_url('assets/global/img/pdf.png')}" width="100%">
                                                {elseif $extencion[$c] == 'doc'}
                                                    <img src="{base_url('assets/global/img/doc.png')}" width="100%">
                                                {elseif $extencion[$c] == 'xls'}
                                                    <img src="{base_url('assets/global/img/xls.png')}" width="100%">
                                                {/if}
                                                <a href="{$img.url}/{$img.name}" target="_blank"> {$img.name}</a>
                                                <a id="{$img.id}/{$img.name}" class="btn btn-danger btn-xs delImg" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" style="position:absolute; top:1px;"><i class="fa fa-times"></i></a>
                                            </div>
                                            {$c = $c + 1}
                                            {/foreach}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Cargar Imagenes</label> 
                                        <div id="my-dropzone" action="{base_url('receipts/images')}/{{$renyCtrl}}" class="col-sm-12 dropzone pull-right">
                                            <div class="fallback">
                                                <input name="img" type="file" multiple />
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                </div>
                            </div>
                        
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                    {if $receipt[0]['status'] neq 'Recibido'}
                        {if !isset($receipt[0]['email']) || $receipt[0]['email'] eq null}
                            <div class="callout callout-warning">
                                <strong>Aviso!</strong>Casilla <strong>Enviar Correo</strong> desabilitada, Cliente sin Email Asignado.
                            </div>
                         {/if}
                        <div id="boxMail" class="form-group col-sm-4">
                            <label class="col-sm-6 control-label">Enviar Correo</label>
                            <div class="col-sm-1 ckbox ckbox-theme">
                               <input id="sendMail" type="checkbox" name="sendMail" value="1" {if !isset($receipt[0]['email']) || $receipt[0]['email'] eq null} disabled {/if}>
                               <label for="sendMail" class=" control-label"></label>
                            </div>
                        </div>
                    {/if}
                        
                        <div id="button" class="col-sm-offset-3">
                        {if $role == 'Supervisor'}{$up}{/if}
                           {$submit}
                        </div>
                    </div><!-- /.form-footer -->
                </form>
            </div>
        <!--/ End basic validation -->
    </div>
</div><!-- /.row -->
 <div class="modal fade bs-example-modal-lg" id="bagsPallet">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Bags Por Pallets</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-bordered" id="bagsP" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                    Introduce la cantidad de bolsas por Pallets
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control input-sm" name="bagsPall" id="bagPallets" value="0">
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                                <div class="form-footer">
                                    <div class="col-sm-offset-3">
                                        <button type="button" class="btn btn-theme" id="acept">Aceptar</button>
                                    </div>
                                </div><!-- /.form-footer -->
                            </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
